{% extends 'base.html.twig' %}

{% block title %}Subcategory Search{% endblock %}

{% block body %}
    <twig:Search
        flowModel="{{ flowModel }}"
        flowRoute="{{ flowRoute }}"
        results="{{ results }}"
    >
        <twig:block name="sort">
            <twig:Card>
                <div class="flex justify-between overflow-auto">
                    <twig:SortLink sortValue="id">Id</twig:SortLink>
                    <twig:SortLink sortValue="category.name">Category</twig:SortLink>
                    <twig:SortLink sortValue="name">Subcategory</twig:SortLink>
                    <twig:SortLink sortValue="defaultMarkup">Markup</twig:SortLink>
                    <twig:SortLink sortValue="isActive">Status</twig:SortLink>
                </div>
            </twig:Card>
        </twig:block>

        <twig:block name="list_item">
            <twig:Card
                editLink="{{ path('app_catalog_subcategory_edit', {'id': result.publicId.value }) }}"
                showLink="{{ path('app_catalog_subcategory_show', {'id': result.publicId.value }) }}"
            >
                <div class="flex items-center justify-between pe-6">
                    <div>
                        <p class="text-lg font-semibold text-gray-900 line-clamp-1 dark:text-white">{{ result.name }}</p>
                        <p class="text-sm text-gray-500 dark:text-gray-400">{{ result.category.name }}</p>
                    </div>
                    <twig:StatusBadge status="{{ result.isActive ? 'ACTIVE' : 'INACTIVE' }}"/>
                </div>
                <div class="mt-2 flex items-center justify-between">
                    <p class="text-xs text-gray-500 dark:text-gray-500">
                        {% if result.hasOwner %}
                            Managed by {{ result.owner.fullName }}
                        {% else %}
                            No subcategory manager
                        {% endif %}
                    </p>
                    <p class="text-sm text-gray-700 dark:text-gray-300">{{ result.defaultMarkup|number_format(3) }}% mark-up</p>
                </div>
            </twig:Card>
        </twig:block>

        <twig:block name="add">
            <twig:Button
                tag="a"
                variant="alternative"
                href="{{ path('app_catalog_subcategory_new') }}"
                data-turbo-frame="modal"
            >
                <twig:ux:icon name="bi:plus-lg" class="h-4 w-4"/>
                <span>Create Subcategory</span>
            </twig:Button>
        </twig:block>

    </twig:Search>

{% endblock %}
