{% extends 'modalBase.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <section class="rounded-lg bg-gray-50 dark:bg-gray-900 md:h-screen" style="background: url({{ asset('images/martian_landscape.webp') }}) center center no-repeat; background-size: cover;">
        <div class="mx-auto flex flex-col items-center px-6 py-8 lg:py-0">
            <div
                class="w-full rounded-lg bg-white shadow dark:border dark:border-gray-700 dark:bg-gray-800 sm:max-w-md md:m-10 xl:p-0">
                <div class="p-6 space-y-4 sm:p-8 md:space-y-6">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 dark:text-white md:text-2xl">
                        Create an account
                    </h1>
                    {% for flash_error in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}
                    {{ form_start(registrationForm, {
                        'attr': {
                            'class': 'space-y-4 md:space-y-6',
                            'novalidate': 'novalidate',
                        }
                    }) }}
                    {{ form_row(registrationForm.fullName) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    <div class="mb-3">
                        <div class="mr-4 flex items-center">
                            <input type="checkbox" id="registration_form_agreeTerms"
                                   name="{{ field_name(registrationForm.agreeTerms) }}"
                                   required="required"
                                   class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600"
                                   value="{{ field_value(registrationForm.agreeTerms) }}">
                            <label class="ml-2 text-sm font-light text-gray-500 dark:text-gray-400"
                                   for="registration_form_agreeTerms">
                                I accept the
                                <a
                                    class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                                    href="{{ path('app_terms_page') }}"
                                >
                                    Terms and Conditions
                                </a>
                            </label>
                        </div>
                        <div class="form-error">
                            {{ form_errors(registrationForm.agreeTerms) }}
                        </div>
                    </div>
                    <twig:Button type="submit" class="w-full" data-turbo-frame="_top">Create account</twig:Button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Already have an account?
                        <a
                            href="{{ path('app_login') }}"
                            class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                        >
                            Login here
                        </a>
                    </p>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

