<li class="first:mt-3">
    <twig:Card
        editLink="{{ purchaseOrderItem.allowEdit ? path('app_purchase_order_item_edit', {'id': purchaseOrderItem.id }) : null }}"
        padding="p-0"
        borderColour="{{ colourScheme }}"
    >
        <div class="flex items-center justify-between rounded-sm dark:bg-gray-800 dark:hover:bg-gray-700">
            <twig:ProductImage
                imageName="{{ purchaseOrderItem.customerOrderItem.product.hasProductImage ? purchaseOrderItem.customerOrderItem.product.getFirstImage.imageName : null }}"
                filter="small_thumbnail"
                alt="{{ purchaseOrderItem.customerOrderItem.product.name }}"
                showLink="{{ path('app_product_show', {'id': purchaseOrderItem.customerOrderItem.product.id }) }}"
            ></twig:ProductImage>
            <div class="w-full p-3">
                <p class="mb-2 text-sm text-gray-300 line-clamp-1 dark:text-gray-200">{{ purchaseOrderItem.customerOrderItem.product.name }}</p>
                <div class="flex items-center justify-between">
                    <p class="text-base font-extralight me-3">
                        {{ purchaseOrderItem.customerOrderItem.priceIncVat|format_currency('GBP') }}
                        <span class="text-sm ms-3">
                            {% if purchaseOrderItem.isCancelled or purchaseOrderItem.isRefunded or purchaseOrderItem.quantity is same as purchaseOrderItem.customerOrderItem.quantity %}
                                Qty: {{ purchaseOrderItem.quantity }}
                            {% else %}
                                Qty: {{ purchaseOrderItem.quantity }} of {{ purchaseOrderItem.customerOrderItem.quantity }}
                            {% endif %}
                        </span>
                        <span class="hidden text-sm ms-3 md:inline">Product #{{ '%05d'|format(purchaseOrderItem.customerOrderItem.product.id) }}</span>
                    </p>
                    <p class="text-gray-500">
                        <a href="{{ path('app_purchase_order_item_status_log', {'id':purchaseOrderItem.id }) }}"
                           class="text-grey-500 dark:hover:text-white"
                           data-turbo-frame="modal"
                        >
                            {{ purchaseOrderItem.status.value|title }}
                        </a>
                        {% if purchaseOrderItem.status.value|lower == 'delivered' and purchaseOrderItem.deliveredAt is not null %}
                            <span class="py-1">on {{ purchaseOrderItem.deliveredAt|date("jS M Y") }}</span>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </twig:Card>
</li>