{% if colourScheme is not defined %}
    {% set colourScheme = purchaseOrderItem.purchaseOrder.supplier.colourScheme %}
{% endif %}
<li class="first:mt-3">
    <twig:Card
        editLink="{{ purchaseOrderItem.allowStatusChange ? path('app_purchase_order_item_status_edit', {'id': purchaseOrderItem.id }) : null }}"
        padding="p-0"
        colour="{{ colourScheme }}"
    >
        <div class="flex justify-between items-center rounded-lg dark:bg-gray-800 hover:dark:bg-gray-700">
            <p class="me-1 text-xs">
                {% if purchaseOrderItem.customerOrderItem.product.productImages|length > 0 %}
                    {% set firstImage = purchaseOrderItem.customerOrderItem.product.productImages|first %}
                    <img class="w-auto rounded-s-lg"
                         src="{{ asset(product_uploads~firstImage.imageName) | imagine_filter('small_thumbnail') }}"
                    >
                {% else %}
                    <span class="p-5 flex text-center">no image</span>
                {% endif %}
            </p>
            <div class="w-full p-3">
                <p class="mb-2 text-sm text-gray-300 dark:text-gray-200">{{ purchaseOrderItem.supplierProduct.name|u.truncate(50, '...') }}</p>
                <p class="flex justify-between items-center">
                    <span class="me-3 text-lg font-extralight">
                        {{ purchaseOrderItem.priceIncVat|format_currency('GBP') }}
                        <span class="ms-3 text-sm">Qty: {{ purchaseOrderItem.quantity }}</span>
                        <a href="{{ path('app_product_show', {'id': purchaseOrderItem.customerOrderItem.product.id }) }}"
                           class="ms-3 text-sm hover:text-gray-500 dark:hover:text-white"
                           data-turbo-frame="body"
                        >
                        Product #{{ '%05d'|format(purchaseOrderItem.customerOrderItem.product.id) }}
                        </a>
                    </span>
                    <span class="text-gray-500">
                        <a href="{{ path('app_purchase_order_item_status_log', {'id':purchaseOrderItem.id }) }}"
                           class="text-grey-500 dark:hover:text-gray-800"
                           data-turbo-frame="modal"
                        >
                            {{ purchaseOrderItem.status.value|title }}
                        </a>
                        {%  if purchaseOrderItem.status.value|lower == 'delivered' and purchaseOrderItem.deliveredAt is not null %}
                            <span class="py-1">on {{ purchaseOrderItem.deliveredAt|date("jS M Y") }}</span>
                        {% endif %}
                    </span>
                </p>
            </div>
        </div>
    </twig:Card>
</li>