<div class="relative h-full bg-white border {{ activeProductSource is same as supplierProduct ? 'border-green-600 dark:border-green-700' : 'border-gray-600 dark:border-gray-700' }} rounded-lg shadow dark:bg-gray-800 ">
    <a href="{{ path('app_supplier_product_remove_confirm', {'id': supplierProduct.id }) }}"
       class="absolute -top-1.5 -right-1 p-1.5 bg-white text-gray-300 border border-gray-600 dark:bg-gray-700 dark:hover:bg-gray-600 rounded-full shadow-lg"
       data-turbo-prefetch="false"
       data-turbo-frame="modal"
    >
        <twig:ux:icon name="bi:x-lg" class="w-6 h-6 p-0.5" />

    </a>
    <div class="p-5 text-sm text-gray-500 dark:text-gray-400">
        <p class="mb-1 text-gray-500 dark:text-gray-500">Supplier Product</p>
        <h5 class="mb-1 text-2xl font-normal text-gray-900 dark:text-white">
            <a href="{{ path('app_supplier_product_show', {'id': supplierProduct.id }) }}"
               data-turbo-frame="_top"
               data-turbo-prefetch="false"
               class="hover:text-blue-600 dark:hover:text-white/70">
                {{ (supplierProduct.productCode) }}
            </a>
        </h5>
        {% if supplierProduct.supplier.isActive %}
            <p class="mb-4 text-sm text-gray-500 dark:text-gray-500">{{ supplierProduct.supplier.name|u.truncate(30, '...', false) }}</p>
        {% else %}
            <p class="mb-1 text-sm text-red-700 dark:text-red-500">{{ supplierProduct.supplier.name|u.truncate(30, '...', false) }} : Inactive</p>
        {% endif %}
        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            {{ supplierProduct.name|u.truncate(30, '...', false) }}
        </p>
        <p class="mb-1 text-2xl text-gray-500 dark:text-gray-500">£{{ supplierProduct.cost|number_format(2) }}</p>
        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            {% if supplierProduct.stock > 0 %}
                {{ supplierProduct.stock }} in stock
            {% else %}
                Out of stock ({{ supplierProduct.leadTimeDays }} day lead time)
            {% endif %}
        </p>
        <div class="mt-4 flex items-center justify-between">
            <p class="me-10 text-xs">Updated {{ supplierProduct.updatedAt|ago }}</p>
            {% if supplierProduct.isActive %}
                <a href="{{ path('app_supplier_product_toggle_status', {'id': supplierProduct.id }) }}"
                   data-turbo-prefetch="false"
                   class="flex items-center block py-1 text-sm text-green-700 dark:text-green-500 hover:text-green-500 dark:hover:text-green-300"
                >
                    <twig:ux:icon name="mynaui:edit-one" class="w-4 me-1.5" />Active
                </a>
            {% else %}
                <a href="{{ path('app_supplier_product_toggle_status', {'id': supplierProduct.id }) }}"
                   data-turbo-prefetch="false"
                   class="flex items-center block py-1 text-sm text-red-700 dark:text-red-500 hover:text-red-500 dark:hover:text-red-300"
                >
                    <twig:ux:icon name="mynaui:edit-one" class="w-4 me-1.5" />Inactive
                </a>
            {% endif %}
        </div>
    </div>
</div>