<twig:Card
    editLink="{{ path('app_supplier_product_remove_confirm', {'id': supplierProduct.id }) }}"
    editIcon="bi:x-lg"
    borderColour="{{ activeProductSource is same as supplierProduct ? 'green' : null }}"
>
    {% if supplierProduct.hasActiveSupplier %}
        <p class="text-sm text-gray-600 dark:text-gray-500">{{ supplierProduct.supplier.name|u.truncate(30, '...', false) }}</p>
    {% else %}
        <p class="text-sm text-red-700 dark:text-red-500">{{ supplierProduct.supplier.name|u.truncate(30, '...', false) }} : Inactive</p>
    {% endif %}
    <p class="mb-1 text-xl text-gray-900 dark:text-white">
        <a href="{{ path('app_supplier_product_show', {'id': supplierProduct.id }) }}"
           data-turbo-frame="body"
           class="hover:text-blue-600 dark:hover:text-white/70">
            {{ supplierProduct.name|u.truncate(30, '...', false) }}
        </a>
    </p>
    <p class="text-sm text-gray-600 dark:text-gray-500">{{ (supplierProduct.productCode) }}</p>
    <div class="flex items-center justify-between">
        <p class="font-extralight">
            {% if supplierProduct.hasStock %}
                {{ supplierProduct.stock }} in stock
            {% else %}
                Out of stock ({{ supplierProduct.leadTimeDays }} day lead time)
            {% endif %}
        </p>
        <p class="text-lg font-extralight text-gray-500 dark:text-white">
            {{ supplierProduct.cost|format_currency('GBP') }}</p>
    </div>
    <div class="flex items-center justify-between">
        <p class="me-10 text-xs text-gray-600 dark:text-gray-500">Updated {{ supplierProduct.updatedAt|ago }}</p>
        {% if supplierProduct.isActive %}
            <a href="{{ path('app_supplier_product_toggle_status', {'id': supplierProduct.id }) }}"
               data-turbo-prefetch="false"
               data-turbo-frame="body"
               class="flex items-center block py-1 text-sm text-green-700 dark:text-green-500 hover:text-green-500 dark:hover:text-green-300"
            >
                <twig:ux:icon name="mynaui:edit-one" class="w-4 me-1.5"/>
                Active
            </a>
        {% else %}
            <a href="{{ path('app_supplier_product_toggle_status', {'id': supplierProduct.id }) }}"
               data-turbo-prefetch="false"
               data-turbo-frame="body"
               class="flex items-center block py-1 text-sm text-red-700 dark:text-red-500 hover:text-red-500 dark:hover:text-red-300"
            >
                <twig:ux:icon name="mynaui:edit-one" class="w-4 me-1.5"/>
                Inactive
            </a>
        {% endif %}
    </div>
</twig:Card>