<div class="relative bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
     data-id="{{ productImage.id }}"
>
    <a href="{{ path('app_product_image_remove', {id: productImage.id}) }}"
       class="absolute -top-1.5 -right-1 p-1.5 bg-white text-gray-300 border border-gray-600 rounded-full shadow-lg dark:bg-gray-700 dark:hover:bg-gray-600"
       data-turbo-prefetch="false"
    >
        <twig:Icon name="delete" class="w-6 h-6 p-0.5"/>
    </a>
    <img class="w-60 mx-auto rounded-lg"
         src="{{ asset(product_uploads~productImage.imageName) | imagine_filter('large_thumbnail') }}"
         alt=""
    >
    <div class="p-5">
        <h5 class="mb-2 font-bold text-gray-300 dark:text-white">{{ productImage.imageName|u.truncate(25, '...') }}</h5>
        <div class="flex items-center justify-between text-xs">
            <p>Uploaded {{ productImage.createdAt|ago }}</p>
            <p>{{ (productImage.imageSize/1000)|number_format(1) }}Kb</p>
        </div>
    </div>
</div>