<twig:Card editLink="{{ path('app_product_cost_category_edit', {'id': category.id }) }}" title="Category">
    <p class="mb-2 text-lg text-gray-900 line-clamp-1 dark:text-white">{{ category.name }}</p>
    <ul class="list-inside list-disc">
        <li>{{ category.defaultMarkup|number_format(3) }}% mark-up</li>
        <li>{{ category.priceModel.getName }} price model</li>
    </ul>
    <div class="mt-2 flex items-center justify-between">
        <p class="text-xs text-gray-600 me-10 dark:text-gray-500">Updated {{ category.updatedAt|ago }}</p>
        {% if category.isActive %}
            <p class="text-green-500">Active</p>
        {% else %}
            <p class="text-red-500">InActive</p>
        {% endif %}
    </div>
</twig:Card>