<twig:Card title="Customer Addresses ({{ customer.addresses.count }})">
    <ol class="text-sm text-gray-500 space-y-3 dark:text-gray-400 mb-1">
        {% for address in customer.addresses %}
            <li class="flex justify-between px-3">
                <div>
                    {% if address.defaultBillingAddress %}
                        <p class="mb-1 text-gray-300 dark:text-gray-200">Billing Address</p>
                    {% elseif address.defaultShippingAddress %}
                        <p class="mb-1 text-gray-300 dark:text-gray-200">Default Shipping Address</p>
                    {% endif %}
                    <p>{{ address.street }}</p>
                    {% if address.street2 is not null %}
                        <p>{{ address.street2 }}</p>
                    {% endif %}
                    <p>{{ address.city }}, {{ address.postCode }}</p>
                    <p>{{ address.country }}</p>
                </div>
            </li>
        {% else %}
            <li>No addresses</li>
        {% endfor %}
    </ol>
</twig:Card>