<twig:Card editLink="{{ path('app_customer_edit', {id: customer.publicId.value})}}" title="Customer" statusHighlight="{{ customer.isVerified ? 'VERIFIED' : 'UNVERIFIED' }}">
    <div class="mb-3 flex items-center gap-2">
        <p class="text-lg font-semibold text-gray-900 line-clamp-1 dark:text-white">{{ customer.fullName }}</p>
        {% if result.isAdmin %}
            <twig:StatusBadge status="ADMIN"/>
        {% endif %}
    </div>
    <div class="flex items-center gap-2 text-sm text-gray-600 dark:text-gray-400">
        <twig:ux:icon name="bi:envelope" class="h-4 w-4 text-gray-400 dark:text-gray-500"/>
        {{ customer.email }}
    </div>
    <twig:CardFooter :updatedAt="customer.updatedAt">
        <twig:StatusBadge status="{{ customer.isVerified ? 'VERIFIED' : 'UNVERIFIED' }}"/>
    </twig:CardFooter>
</twig:Card>
