{% extends 'shared/turbo/modal_base.html.twig' %}

{% block title %}Delete {{ flowModel }}{% endblock %}

{% block body %}

    <twig:Dialog title="Delete Customer">
        <p class="mb-2 text-base text-gray-500 dark:text-white">
            {{ result.fullName }}
            {% if result.isAdmin %}
                <span class="text-base font-extralight text-red-500 ms-1 dark:text-red-400">(Administrator)</span>
            {% endif %}
            {% if result.customerOrders.count > 0 %}
                <span class="text-sm font-extralight text-gray-500 ms-1 dark:text-gray-400">
                    ({{ result.customerOrders.count }} {{ result.customerOrders.count == 1 ? 'order': 'orders' }})
                </span>
            {% endif %}
        </p>
        {% if result.isAdmin %}
            <p class="mb-4 text-sm font-light text-red-500 dark:text-red-400">
                You cannot delete an admin user.
            </p>
            <twig:Button type="button" variant="alternative" class="w-full" data-action="basic-modal#close">
                Close
            </twig:Button>
        {% elseif result.customerOrders.count > 0 %}
            <p class="mb-4 text-sm font-light text-red-500 dark:text-red-400">
                You cannot delete a customer with order history.
            </p>
            <twig:Button type="button" variant="alternative" class="w-full" data-action="basic-modal#close">
                Close
            </twig:Button>
        {% else %}
            <p class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
                Are you sure you want to delete this {{ flowModel }}?
            </p>
            <form method="post" action="{{ path('app_customer_delete', {'id': result.publicId.value}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('delete'~result.publicId.value) }}">
                <div class="flex gap-3">
                    <twig:Button type="button" variant="alternative" class="w-full" data-action="basic-modal#close">
                        Cancel
                    </twig:Button>
                    <twig:Button type="submit" variant="danger" class="w-full">Delete Customer</twig:Button>
                </div>
            </form>
        {% endif %}
    </twig:Dialog>

{% endblock %}
