{% set colourScheme = result.supplier.colourScheme %}
<twig:Card colour="{{ colourScheme }}">
    <p class="mb-2 text-xl text-gray-900 dark:text-white">
        PO #{{ '%06d'|format(result.id) }}
        <span class="text-gray-500 ms-2 dark:text-gray-400">{{ result.supplier.name }}</span>
    </p>
    <div class="flex items-center justify-between">
        <p class="text-sm me-10">
            {{ purchaseOrder.createdAt|date('jS M Y H:i') }} -
            <a href="{{ path('app_order_show', {id: purchaseOrder.customerOrder.id}) }}"
               data-turbo-frame="body"
               class="text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                Order #{{ '%06d'|format(purchaseOrder.customerOrder.id) }}
            </a>
        </p>
        <a href="{{ path('app_purchase_order_status_log', {'id':purchaseOrder.id }) }}"
           class="flex items-center justify-between text-grey-500 dark:hover:text-gray-800"
           data-turbo-frame="modal"
        >
            <twig:StatusIcon type="{{ purchaseOrder.status.value|lower }}" class="me-1"/>
            {{ purchaseOrder.status.value|title }}
        </a>

    </div>
</twig:Card>