{% extends 'base.html.twig' %}

{% block title %}{{ section }} index{% endblock %}

{% block body %}
    <twig:Search
        section="{{ section }}"
        results="{{ results }}"
    >
        <twig:block name="sort">
            <twig:Card>
                <div class="flex justify-between overflow-auto">
                    <twig:SortLink sortValue="id">PO</twig:SortLink>
                    <twig:SortLink sortValue="createdAt">Created</twig:SortLink>
                    <twig:SortLink sortValue="customerOrder.id">Order</twig:SortLink>
                    <twig:SortLink sortValue="totalPriceIncVat">Total</twig:SortLink>
                    <twig:SortLink sortValue="status">Status</twig:SortLink>
                </div>
            </twig:Card>
        </twig:block>

        <twig:block name="list_item">
            <twig:Card showLink="{{ path('app_purchase_order_show', {'id': result.id }) }}">
                <div class="flex justify-between items-center">
                    <p class="mb-1 items-center text-xl text-gray-900 dark:text-white">PO
                        #{{ '%06d'|format(result.id) }}</p>
                    <p class="text-lg font-extralight"> {{ result.totalPriceIncVat|format_currency('GBP') }}</p>
                </div>
                <p class="mb-1 text-sm">
                    {{ result.createdAt|date('jS M Y H:i') }}
                    - Order #{{ '%06d'|format(result.customerOrder.id) }}
                </p>
                <div class="flex justify-between items-center text-gray-600 dark:text-gray-500">
                    <p>{{ result.customerOrder.customer.fullName }}</p>
                    <p>{{ result.status.value|title }}</p>
                </div>
            </twig:Card>
        </twig:block>

    </twig:Search>

{% endblock %}