{% extends 'base.html.twig' %}

{% block title %}{{ section }} index{% endblock %}

{% block body %}
    <twig:DataList
        section="{{ section }}"
        results="{{ results }}"
    >
        <twig:block name="list_sort">
            <twig:SortLink sortValue="id">Id</twig:SortLink>
            <twig:SortLink sortValue="name">Supplier</twig:SortLink>
            <twig:SortLink sortValue="isActive">Status</twig:SortLink>
        </twig:block>

        <twig:block name="list_item">
            <p class="mb-1 items-center text-lg text-gray-900 dark:text-white">{{ result.name|u.truncate(30, '...') }}</p>
            <p class="flex justify-end items-center">
                {% if result.isActive %}
                    <span class="text-green-500">Active</span>
                {% else %}
                    <span class="text-red-500">InActive</span>
                {% endif %}
            </p>
        </twig:block>

        <twig:block name="list_add">
            <twig:Button
                tag="a"
                href="{{ path('app_'~section|lower|u.snake~'_new') }}"
                class="flex items-center space-x-1 font-bold"
                data-turbo-frame="modal"
            >
                <twig:ux:icon name="flowbite:circle-plus-outline" class="w-5"/>
                <span>Add {{ section }}</span>
            </twig:Button>
        </twig:block>

        <twig:block name="filter"></twig:block>
    </twig:DataList>

{% endblock %}
