{% extends 'base.html.twig' %}

{% block title %}Vat Rate Search{% endblock %}

{% block body %}
    <twig:Search
        flowModel="{{ flowModel }}"
        routes="{{ routes }}"
        results="{{ results }}"
        showFilter="{{ false }}"
    >
        <twig:block name="sort">
            <twig:Card>
                <div class="flex justify-between overflow-auto">
                    <twig:SortLink sortValue="id">Id</twig:SortLink>
                    <twig:SortLink sortValue="name">Name</twig:SortLink>
                    <twig:SortLink sortValue="rate">VAT Rate</twig:SortLink>
                </div>
            </twig:Card>
        </twig:block>

        <twig:block name="list_item">
            <twig:Card
                editLink="{{ path('app_pricing_vat_rate_edit', {'id': result.publicId.value }) }}"
                showLink="{{ path('app_pricing_vat_rate_show', {'id': result.publicId.value }) }}"
            >
                <div class="flex items-center justify-between pe-6">
                    <p class="text-lg font-semibold text-gray-900 line-clamp-1 dark:text-white">{{ result.name }}</p>
                    <p class="text-lg font-light text-gray-700 dark:text-gray-300">{{ result.rate|number_format(2) }}%</p>
                </div>
            </twig:Card>
        </twig:block>
    </twig:Search>

{% endblock %}
