{% extends 'base.html.twig' %}

{% block title %}Product Images{% endblock %}

{% block body %}

    {{ include('catalog/product/_navigation.html.twig', {product: result}) }}

    <div class="m-3 text-sm text-gray-500 space-y-3 dark:text-gray-400">
        <div class="mb-4">
            <twig:Card padding="p-0">
                <div class="m-1 rounded-sm bg-white dark:bg-gray-900">
                    <form action="{{ path('app_catalog_product_image_create', {id: result.publicId.value}) }}"
                          method="post"
                          enctype="multipart/form-data"
                          class="border-0 text-base dropzone dark:border-0"
                          data-controller="dropzone"
                          data-dropzone-url-value="{{ path('app_catalog_product_image_create', {id: result.publicId.value}) }}"
                          data-dropzone-param-name-value="imageFile"
                    >
                        <div class="fallback">
                            <input type="file" name="imageFile[]" multiple>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>
                </div>
            </twig:Card>
        </div>
        <p class="font-light">
            {{ result.productImages|length }}
            Product {% if result.productImages|length == 1 %}Image{% else %}Images{% endif %}
        </p>
        <div class="flex flex-wrap justify-center gap-4"
             data-controller="sortable"
             data-sortable-reorder-url-value="{{ path('app_catalog_product_image_reorder', {id: result.publicId.value}) }}"
        >
            {% for productImage in result.productImages %}
                {{ include('catalog/product_image/_product_image_card.html.twig', {productImage: productImage}) }}
            {% else %}
                <p>No product images found</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
