<twig:Card editLink="{{ path('app_pricing_product_cost_edit', {id: product.publicId.value}) }}" title="Product" statusHighlight="{{ product.isActive ? 'ACTIVE' : 'INACTIVE' }}">
    <p class="mb-3 text-lg font-semibold text-gray-900 line-clamp-1 dark:text-white">{{ product.name }}</p>
    <div class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
        <p class="flex items-center gap-2">
            <twig:ux:icon name="mdi:percent-outline" class="h-4 w-4 text-gray-400 dark:text-gray-500"/>
            {% if product.hasDefaultMarkup %}
                {{ product.defaultMarkup|number_format(3) }}% mark-up
                {% if product.activeMarkupTarget == 'PRODUCT' %}
                    <twig:ux:icon name="bi:check-circle-fill" class="h-4 w-4 text-green-500 dark:text-green-400"/>
                {% endif %}
            {% else %}
                <span class="italic text-gray-400 dark:text-gray-500">No product mark-up</span>
            {% endif %}
        </p>
        <p class="flex items-center gap-2">
            <twig:ux:icon name="mdi:tag-outline" class="h-4 w-4 text-gray-400 dark:text-gray-500"/>
            {% if product.hasPriceModel %}
                {{ product.priceModel.getName }} price model
                {% if product.activePriceModelTarget == 'PRODUCT' %}
                    <twig:ux:icon name="bi:check-circle-fill" class="h-4 w-4 text-green-500 dark:text-green-400"/>
                {% endif %}
            {% else %}
                <span class="italic text-gray-400 dark:text-gray-500">No product price model</span>
            {% endif %}
        </p>
    </div>
    <twig:CardFooter :updatedAt="product.updatedAt">
        <twig:StatusBadge status="{{ product.isActive ? 'ACTIVE' : 'INACTIVE' }}"/>
    </twig:CardFooter>
</twig:Card>
