<twig:Card
    editLink="{{ path('app_purchasing_supplier_product_remove_confirm', {'id': supplierProduct.publicId.value }) }}"
    editIcon="bi:x-lg"
    borderColour="{{ activeProductSource is same as supplierProduct ? 'green' : null }}"
>
    <p class="mb-1 text-sm text-gray-600 dark:text-gray-500">
        {{ supplierProduct.supplier.name }}
        {% if not supplierProduct.hasActiveSupplier %}
            <span class="text-red-700 dark:text-red-500"> (Inactive)</span>
        {% endif %}
    </p>
    <p class="text-lg text-gray-900 line-clamp-1 dark:text-white">
        <a href="{{ path('app_purchasing_supplier_product_show', {'id': supplierProduct.publicId.value }) }}"
           data-turbo-frame="body"
           class="hover:text-blue-600 dark:hover:text-white/70">
            {{ supplierProduct.name }}
        </a>
    </p>
    <div class="flex justify-between">
        {{ (supplierProduct.productCode) }}
        <div>
            <p class="text-right text-base font-extralight text-gray-500 dark:text-white">{{ supplierProduct.cost|format_currency('GBP') }}</p>
            <p class="text-right font-extralight">
                {% if supplierProduct.hasStock %}
                    {{ supplierProduct.stock }} in stock
                {% else %}
                    Out of stock ({{ supplierProduct.leadTimeDays }} day lead time)
                {% endif %}
            </p>
        </div>
    </div>
    <div class="mt-2 flex items-center justify-between">
        <p class="text-xs text-gray-600 me-10 dark:text-gray-500">Updated {{ supplierProduct.updatedAt|ago }}</p>
        <a href="{{ path('app_purchasing_supplier_product_toggle_status', {'id': supplierProduct.publicId.value }) }}"
           data-turbo-prefetch="false"
           data-turbo-frame="body"
        >
            {% if supplierProduct.isActive %}
                <span
                    class="flex items-center text-sm text-green-700 hover:text-green-500 dark:text-green-500 dark:hover:text-green-300">
                    <twig:ux:icon name="mynaui:edit-one" class="w-4 me-1.5"/>
                    Active
                </span>
            {% else %}
                <span
                    class="flex items-center text-sm text-red-700 hover:text-red-500 dark:text-red-500 dark:hover:text-red-300">
                    <twig:ux:icon name="mynaui:edit-one" class="w-4 me-1.5"/>
                    Inactive
                </span>
            {% endif %}
        </a>
    </div>
</twig:Card>
