{% extends 'base.html.twig' %}

{% block title %}Product Sales{% endblock %}

{% block body %}

    <twig:Card>
        <turbo-frame id="sales">
            {% if summary %}
                <div class="mb-3 flex items-center justify-between">
                    <div class="flex items-center justify-start">
                        <p class="text-gray-600 dark:text-gray-500">
                            <span class="hidden md:inline">Product Sales</span>
                            <span class="md:hidden">Sales</span>
                        </p>
                    </div>
                    {{ include('sales/_sales_durations.html.twig') }}
                </div>
                {{ include('sales/_sales_summary.html.twig', {summary: summary}) }}
            {% endif %}
            <div class="flex items-center justify-between">
                <p class="text-gray-600 dark:text-gray-500">
                    <span class="hidden md:inline">Top 10 Products</span>
                    <span class="md:hidden">Sales</span>
                </p>
                {% if not summary %}
                    {{ include('sales/_sales_durations.html.twig') }}
                {% endif %}
            </div>
            <div class="relative mt-3 overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-left text-sm text-gray-500 dark:text-gray-400">
                    <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Product name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex justify-center">
                                <twig:SortLink sortValue="salesQty">Qty</twig:SortLink>
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex justify-end">
                                <twig:SortLink sortValue="salesValue">Value</twig:SortLink>
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex justify-end">
                                <twig:SortLink sortValue="salesProfit">Profit</twig:SortLink>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in results %}
                        <tr class="border-b odd:bg-white even:bg-gray-50 dark:border-gray-700 odd:dark:bg-gray-900 even:dark:bg-gray-800">
                            <th scope="row"
                                class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-gray-300">
                                <a href="{{ path('app_product_show', {'id': result.id }) }}"
                                   class="dark:hover:text-white"
                                   data-turbo-frame="body"
                                >
                                    {{ result.name|slug.truncate(30, '...') }}
                                </a>
                            </th>
                            <td class="px-6 py-4 text-center">
                                {{ result.salesQty }}
                            </td>
                            <td class="px-6 py-4 text-right">
                                {{ result.salesValue|format_currency('GBP', { max_fraction_digit:0 }) }}
                            </td>
                            <td class="px-6 py-4 text-right">
                                {{ result.salesProfit|format_currency('GBP', { max_fraction_digit:0 }) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class="px-6 py-4 text-center text-gray-500 dark:text-gray-400">
                                No sales data available
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </turbo-frame>
    </twig:Card>

{% endblock %}