<div class="relative h-full w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="{{ path('app_subcategory_edit', { id: subcategory.id }) }}"
       class="absolute -top-1.5 -right-1 p-1.5 bg-white text-yellow-500 border border-gray-600 rounded-full shadow-lg dark:bg-gray-700 dark:hover:bg-gray-600"
       data-turbo-prefetch="false"
       data-turbo-frame="modal"
    >
        <twig:ux:icon name="mynaui:edit-one" class="w-6 h-6 p-0.5" />
    </a>
    <div class="p-3 text-sm text-gray-500 dark:text-gray-400">
        <p class="text-gray-600 dark:text-gray-500">Subcategory</p>
        <p class="mb-1 text-xl text-gray-900 dark:text-white">{{ subcategory.name|u.truncate(30, '...') }}</p>
        <nav class="flex mb-2" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2">
                <li>
                    <div class="flex items-center">
                        <a href="{{ path('app_category_show', {id: subcategory.category.id}) }}"
                           data-turbo-frame="_top"
                           data-turbo-prefetch="false"
                           class="text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                            {{ subcategory.category.name|u.truncate(30, '...') }}
                        </a>
                    </div>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="w-2 h-2 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/></svg>
                        <a href="{{ path('app_subcategory_show', {id: subcategory.id}) }}"
                           data-turbo-frame="_top"
                           data-turbo-prefetch="false"
                           class="ms-1 md:ms-2 text-sm text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                            {{ subcategory.name|u.truncate(30, '...') }}
                        </a>
                    </div>
                </li>
            </ol>
        </nav>
        {% if subcategory.defaultMarkup > 0 %}
            <p class="text-lg font-extralight">
                {{ subcategory.defaultMarkup|number_format(3) }}%
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400"> mark-up</span>
            </p>
        {% else %}
            <p class="font-extralight">No subcategory mark-up
        {% endif %}
        {% if subcategory.priceModel.name is same as 'NONE' %}
            <p class="mb-3 font-extralight">No price model</p>
        {% else %}
            <p class="mb-3 font-extralight">{{ subcategory.priceModel.getName }} price model</p>
        {% endif %}
        {% if subcategory.owner is not null %}
            <p>Managed by {{ subcategory.owner.fullName }}</p>
        {% else %}
            <p>No subcategory manager</p>
        {% endif %}
        <div class="mt-3 flex items-center justify-between">
            <p class="me-10 text-xs text-gray-600 dark:text-gray-500">Updated {{ subcategory.updatedAt|ago }}</p>
            {% if subcategory.isActive %}
                <p class="text-green-500">Active</p>
            {% else %}
                <p class="text-red-500">InActive</p>
            {% endif %}
        </div>
    </div>
</div>