{% extends 'base.html.twig' %}

{% block title %}{{ section }} index{% endblock %}

{% block body %}
    <twig:DataList
        section="{{ section }}"
        results="{{ results }}"
    >
        <twig:block name="list_sort">
            <twig:SortLink sortValue="id">Id</twig:SortLink>
            <twig:SortLink sortValue="category.name">Category</twig:SortLink>
            <twig:SortLink sortValue="name">Subcategory</twig:SortLink>
            <twig:SortLink sortValue="defaultMarkup">Markup</twig:SortLink>
            <twig:SortLink sortValue="isActive">Status</twig:SortLink>
        </twig:block>

        <twig:block name="list_item">
            <p class="mb-1 items-center text-xl text-gray-900 dark:text-white">{{ result.name|u.truncate(30, '...') }}</p>
            <p class="mb-2 items-center text-sm text-gray-600 dark:text-gray-500">
                Category:
                <span class="text-gray-500 dark:text-gray-400">{{ result.category.name|u.truncate(30, '...') }}</span>
            </p>
            <p class="flex justify-between items-center">
                <span class="me-1 text-gray-600 dark:text-gray-500">Managed by {{ result.owner.fullName }}</span>
                {% if result.defaultMarkup > 0 %}
                    <span class="me-1 text-2xl font-extralight">{{ result.defaultMarkup|number_format(3) }}%
                    <span class="me-1 font-normal text-sm text-nowrap text-gray-500 dark:text-gray-400"> mark-up</span>
                </span>
                {% else %}
                    No subcategory mark-up
                {% endif %}
                {% if result.isActive %}
                    <span class="text-green-500">Active</span>
                {% else %}
                    <span class="text-red-500">InActive</span>
                {% endif %}
            </p>
        </twig:block>

        <twig:block name="list_add">
            <twig:Button
                tag="a"
                href="{{ path('app_'~section|lower|u.snake~'_new') }}"
                class="flex items-center space-x-1 font-bold"
                data-turbo-frame="modal"
            >
                <twig:ux:icon name="flowbite:circle-plus-outline" class="w-5"/>
                <span>Add {{ section }}</span>
            </twig:Button>
        </twig:block>

        <twig:block name="filter"></twig:block>
    </twig:DataList>

{% endblock %}