{% extends 'base.html.twig' %}

{% block title %}Review Search{% endblock %}

{% block body %}
    <twig:Search
        flowModel="{{ flowModel }}"
        flowRoute="{{ flowRoute }}"
        results="{{ results }}"
    >
        <twig:block name="sort">
            <twig:Card>
                <div class="flex justify-between overflow-auto">
                    <twig:SortLink sortValue="id">Id</twig:SortLink>
                    <twig:SortLink sortValue="rating">Rating</twig:SortLink>
                    <twig:SortLink sortValue="status">Status</twig:SortLink>
                    <twig:SortLink sortValue="createdAt">Created</twig:SortLink>
                </div>
            </twig:Card>
        </twig:block>

        <twig:block name="list_item">
            {{ include('review/_review_card.html.twig', {review: result}) }}
        </twig:block>

        <twig:block name="add">
            <twig:Button
                tag="a"
                variant="alternative"
                href="{{ path('app_review_new') }}"
                data-turbo-frame="modal"
            >
                <twig:ux:icon name="bi:plus-lg" class="h-4 w-4"/>
                <span>Create Review</span>
            </twig:Button>
        </twig:block>

    </twig:Search>

{% endblock %}
