<div class="relative h-full w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="{{ path('app_product_cost_edit', {id: product.id}) }}"
       class="absolute -top-1.5 -right-1 p-1.5 bg-white text-yellow-500 border border-gray-600 rounded-full shadow-lg dark:bg-gray-700 dark:hover:bg-gray-600"
       data-turbo-prefetch="false"
       data-turbo-frame="modal"
    >
        <twig:ux:icon name="mynaui:edit-one" class="w-6 h-6 p-0.5" />
    </a>
    <div class="p-3 text-sm text-gray-500 dark:text-gray-400">
        <p class="text-gray-600 dark:text-gray-500">Product</p>
        <p class="mb-1 text-lg text-gray-900 dark:text-white">{{ product.name|u.truncate(30, '...') }}</p>
        {% if product.defaultMarkup > 0 %}
            <p class="mb-1 text-lg font-extralight">
                {{ product.defaultMarkup|number_format(3) }}%
                <span class="font-normal text-sm text-gray-500 dark:text-gray-400"> mark-up</span>
            </p>
        {% else %}
            <p class="font-extralight">No product mark-up</p>
        {% endif %}
        {% if product.priceModel.name is same as 'NONE' %}
            <p class="font-extralight">No price model</p>
        {% else %}
            <p class="font-extralight">{{ product.priceModel.getName }} price model</p>
        {% endif %}
        <div class="mt-2 flex items-center justify-between">
            <p class="me-10 text-xs text-gray-600 dark:text-gray-500">Updated {{ product.updatedAt|ago }}</p>
            {% if product.isActive %}
                <p class="text-green-500">Active</p>
            {% else %}
                <p class="text-red-500">InActive</p>
            {% endif %}
        </div>
    </div>
</div>