<twig:Card editLink="{{ path('app_product_edit', {id: product.id}) }}" title="Product" width="w-[344px]">
    <twig:block name="cardImage">
        <twig:ProductImage
            imageName="{{ product.hasProductImage ? product.getFirstImage.imageName : null }}"
            filter="medium_image"
            alt="{{ product.name }}"
            style="rounded-t-lg"
            showLink="{{ path('app_product_images', {id: product.id}) }}"
        ></twig:ProductImage>
    </twig:block>
    <p class="text-xl text-gray-900 line-clamp-1 dark:text-white">{{ product.name }}</p>
    <p class="mb-2 flex items-center">
        <a href="{{ path('app_category_show', {id: product.category.id}) }}"
           data-turbo-frame="body"
           class="text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
            {{ product.category.name|u.truncate(20, '...') }}
        </a>
        <twig:ux:icon name="ic:baseline-navigate-next" class="w-4"/>
        <a href="{{ path('app_subcategory_show', {id: product.subcategory.id}) }}"
           data-turbo-frame="body"
           class="text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
            {{ product.subcategory.name|u.truncate(20, '...') }}
        </a>
    </p>
    <p class="mb-1 line-clamp-4">{{ product.description }}</p>
    <p class="text-right text-xl font-extralight text-gray-500 dark:text-white">
        {{ product.sellPriceIncVat|format_currency('GBP') }} <span class="text-base">inc VAT</span></p>
    <p class="text-right font-extralight">{{ product.stock }} in stock</p>
    <p>Product #{{ '%06d'|format(product.id) }}</p>
    <p>{{ product.manufacturer.name }} : {{ product.mfrPartNumber }}</p>
    <p>
        {% if product.hasOwner %}
            Managed by {{ product.owner.fullName }}
        {% else %}
            No product manager
        {% endif %}
    </p>
    <div class="mt-2 flex items-center justify-between">
        <p class="text-xs text-gray-600 me-10 dark:text-gray-500">Updated {{ product.updatedAt|ago }}</p>
        {% if product.isActive %}
            <p class="text-green-500">Active</p>
        {% else %}
            <p class="text-red-500">InActive</p>
        {% endif %}
    </div>
</twig:Card>