{% extends 'product/_navigation.html.twig' %}

{% block title %}Product Cost{% endblock %}

{% block detail %}

    <div class="p-3 space-y-3 text-sm text-gray-500 dark:text-gray-400">
        <div class="mb-3">
            <h1 class="mb-3 text-xl text-gray-900 dark:text-white">Product Cost</h1>
            {% if result.isActive and result.category.isActive and result.subcategory.isActive and result.activeProductSource is not null %}
                <section class="mb-3 border border-gray-700 rounded-lg bg-white dark:bg-gray-900">
                    <div class="px-6 py-6 mx-auto max-w-screen-xl text-center font-bold">
                        <dl class="grid max-w-screen-md mx-auto sm:grid-cols-3 gap-8 items-center">
                            <div>
                                <dt class="mb-2 font-light">Cost Price</dt>
                                <dd class="text-3xl text-gray-600 dark:text-gray-500">£{{ result.cost|number_format(2) }}</dd>
                            </div>
                            <div>
                                <dt class="mb-2 font-light">Sell Price</dt>
                                <dd class="text-3xl text-gray-900 dark:text-white">£{{ result.sellPrice|number_format(2) }}</dd>
                            </div>
                            <div>
                                <dt class="mb-2 font-light">Sell Price Inc VAT</dt>
                                <dd class="text-3xl text-gray-900 dark:text-white">£{{ result.sellPriceIncVat|number_format(2) }}</dd>
                            </div>
                        </dl>
                    </div>
                </section>
                <section class="border border-gray-700 rounded-lg bg-white dark:bg-gray-900">
                    <div class="p-3 text-center">
                        <p class="mb-2 font-light">Mark-up</p>
                        <p class="mb-2 text-2xl font-light text-gray-700 dark:text-white">{{ result.markup|number_format(3) }}%</p>
                        <p class="text-sm font-light text-gray-600 dark:text-gray-500">
                            {{ result.category.vatRate.name|title }} VAT |
                            {{ result.activePriceModelTarget|title }} price model |
                            {{ result.activeMarkupTarget|title }} mark-up
                        </p>
                    </div>
                </section>
            {% endif %}
            {% if result.isActive and result.category.isActive and result.subcategory.isActive and result.activeProductSource is not null %}
            {% else %}
                <section class="bg-white dark:bg-gray-900 border border-gray-700 rounded-lg">
                    <div class="p-3 text-center">
                        <p class="mb-2 text-2xl font-light text-red-400 dark:text-red-400">Inactive Product</p>
                        {% if result.activeProductSource is null %}
                            <p class="font-light">No Active Supplier</p>
                        {% else %}
                            <p class="font-light">Inactive Category, Subcategory or Product</p>
                        {% endif %}
                    </div>
                </section>
            {% endif %}
        </div>
        <div class="flex flex-wrap justify-center gap-3">
            {{ include('category/_category_cost_card.html.twig', {category: result.category}) }}
            {{ include('subcategory/_subcategory_cost_card.html.twig', {subcategory: result.subcategory}) }}
            {{ include('product/_product_cost_card.html.twig', {product: result}) }}
        </div>
    </div>

{% endblock %}