{% extends 'base.html.twig' %}

{% block title %}Product Cost{% endblock %}

{% block body %}

    {{ include('product/_navigation.html.twig', {product: result}) }}

    <div class="m-3 text-sm text-gray-500 space-y-3 dark:text-gray-400">
        {{ include('product/_product_inventory_card.html.twig', {result: result, type: 'cost'}) }}
        <div class="flex flex-wrap justify-center gap-3">
            {{ include('category/_category_cost_card.html.twig', {category: result.category}) }}
            {{ include('subcategory/_subcategory_cost_card.html.twig', {subcategory: result.subcategory}) }}
            {{ include('product/_product_cost_card.html.twig', {product: result}) }}
        </div>
    </div>

{% endblock %}