{% extends 'product/_navigation.html.twig' %}

{% block title %}Product Images{% endblock %}

{% block detail %}

    <div class="p-3 space-y-3 text-sm text-gray-500 dark:text-gray-400">
        <div class="mb-3">
            <h1 class="mb-3 text-xl text-gray-900 dark:text-white">
                Product Images
                <span class="ms-3 text-base font-light text-sm text-gray-500 dark:text-gray-400">
                    {{ result.productImages|length }} {% if result.productImages|length == 1 %}result{% else %}results{% endif %}
                </span>
            </h1>
            <form action="{{ path('app_product_image_create', {id: result.id}) }}"
                  method="post"
                  enctype="multipart/form-data"
                  class="dropzone"
                  data-controller="dropzone"
                  data-dropzone-url-value="{{ path('app_product_image_create', {id: result.id}) }}"
                  data-dropzone-param-name-value="imageFile"
            >
                <div class="fallback">
                    <input type="file" name="imageFile[]" multiple>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
        <div class="flex flex-wrap justify-center gap-4"
             data-controller="sortable"
             data-sortable-reorder-url-value="{{ path('app_product_image_reorder', {id: result.id}) }}"
        >
            {% for productImage in result.productImages %}
                {{ include('product_image/_product_image_card.html.twig', {productImage: productImage}) }}
            {% else %}
                <p class="mb-1 text-xl">No product images found</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}