{% extends 'base.html.twig' %}

{% block title %}Product Images{% endblock %}

{% block body %}

    {{ include('product/_navigation.html.twig', {product: result}) }}

    <div class="p-3 space-y-3 text-sm text-gray-500 dark:text-gray-400">
        <div class="mb-4">
            <twig:Card padding="p-0">
                <section class="rounded-lg bg-white dark:bg-gray-900">
                    <form action="{{ path('app_product_image_create', {id: result.id}) }}"
                          method="post"
                          enctype="multipart/form-data"
                          class="dropzone border-0 dark:border-0 text-base"
                          data-controller="dropzone"
                          data-dropzone-url-value="{{ path('app_product_image_create', {id: result.id}) }}"
                          data-dropzone-param-name-value="imageFile"
                    >
                        <div class="fallback">
                            <input type="file" name="imageFile[]" multiple>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                    </form>
                </section>
            </twig:Card>
        </div>
        <p class="font-light mb-4">
            {{ result.productImages|length }} Product {% if result.productImages|length == 1 %}Image{% else %}Images{% endif %}
        </p>
        <div class="flex flex-wrap justify-center gap-4"
             data-controller="sortable"
             data-sortable-reorder-url-value="{{ path('app_product_image_reorder', {id: result.id}) }}"
        >
            {% for productImage in result.productImages %}
                {{ include('product_image/_product_image_card.html.twig', {productImage: productImage}) }}
            {% else %}
                <p class="mb-1 text-xl">No product images found</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}