{% extends 'product/_navigation.html.twig' %}

{% block title %}Product Images{% endblock %}

{% block detail %}
<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
    <h1 class="text-2xl font-semibold text-white mb-6">
        Product Images
        <span class="text-base font-light text-gray-500 dark:text-gray-400 ms-3">
            {{ result.productImages|length }} {% if result.productImages|length == 1 %}result{% else %}results{% endif %}
        </span>
    </h1>
    <div class="flex flex-col space-y-2">
        <form action="{{ path('app_product_image_create', {id: result.id}) }}"
              method="post"
              enctype="multipart/form-data"
              class="dropzone"
              data-controller="dropzone"
              data-dropzone-url-value="{{ path('app_product_image_create', {id: result.id}) }}"
              data-dropzone-param-name-value="imageFile"
        >
            <div class="fallback">
                <div class="flex flex-col space-y-2">
                    <input type="file" name="imageFile[]" multiple class="p-2 border border-gray-300 rounded-md" required>
                </div>
                <div class="flex flex-col space-y-2">
                    <twig:Button type="submit" class="w-full" name="btnSubmit" value="submit">Add Image</twig:Button>
                </div>
            </div>
        </form>
    </div>
        <div class="flex flex-wrap justify-center gap-4"
             data-controller="sortable"
             data-sortable-reorder-url-value="{{ path('app_product_image_reorder', {id: result.id}) }}"
        >
            {% for productImage in result.productImages %}
                <div class="relative border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" data-id="{{ productImage.id }}">
                    <a href="{{ path('app_product_image_remove', {id: productImage.id}) }}"
                       class="absolute -top-1.5 -right-1 p-1.5 bg-white text-gray-300 border border-gray-600 dark:bg-gray-700 rounded-full shadow-lg"
                       data-turbo-prefetch="false"
                    ><twig:Icon name="delete" class="w-6 h-6 p-0.5" /></a>
                    <img class="w-60 mx-auto rounded-lg" src="{{ asset(product_uploads~productImage.imageName) | imagine_filter('large_thumbnail') }}" alt="">
                    <div class="p-5">
                        <h5 class="mb-2 text-sm font-bold tracking-tight text-gray-300 dark:text-white">{{ productImage.imageName|u.truncate(25, '...') }}</h5>
                        <div class="flex items-center justify-between text-xs text-gray-700 dark:text-gray-400">
                            <p>Uploaded {{ productImage.createdAt|ago }}</p>
                            <p>{{ (productImage.imageSize/1000)|number_format(1) }}Kb</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
</div>
{% endblock %}