{% extends 'product/_navigation.html.twig' %}

{% block title %}Product Details{% endblock %}

{% block detail %}
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-2xl font-semibold text-white mb-4">Product Details</h1>
            <div class=" p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800 grid grid-cols-2">
                <h2 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white col-span-2">{{ result.name }}</h2>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">Category: {{ result.category.name }}</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">Subcategory: {{ result.subcategory.name }}</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">
                    Manufacturer: {{ result.manufacturer.name }}</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">Mfr Part Number: {{ result.mfrPartNumber }}</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">Stock Level: {{ result.stock }}</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">Lead Time (Days): {{ result.leadTimeDays }}</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">Weight: {{ result.weight }} grams</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">Cost: £{{ result.cost|number_format(2) }}</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">Product
                    Markup: {{ result.defaultMarkup|number_format(3) }}%</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">Markup: {{ result.markup|number_format(3) }}
                    %</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">Price Model: {{ result.priceModel.name }}</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">Sell Price:
                    £{{ result.sellPrice|number_format(2) }}</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">Sell Price inc VAT:
                    £{{ result.sellPriceIncVat|number_format(2) }}</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">result manager: {{ result.owner.fullName }}</p>
                <p class="mb-3 text-xl text-gray-500 dark:text-gray-400">
                    Active: {{ result.isActive ? 'Yes' : 'No' }}</p>
                <twig:Button
                    tag="a"
                    variant="warning"
                    href="{{ path('app_'~section|lower|u.snake~'_edit', {'id': result.id }) }}"
                    class="flex items-center space-x-1 font-bold col-span-2"
                    data-turbo-frame="modal"
                >
                    <twig:Icon name="add" class="w-4"></twig:Icon>
                    <span>Edit {{ section }}</span>
                </twig:Button>
            </div>
        <div class="mt-4">
            <p class="text-sm font-light text-gray-500 dark:text-gray-400 p-4">
                <a href="{{ path('app_'~section|lower|u.snake~'_index') }}"
                   class="hover:underline"
                   data-turbo-frame="_top"
                >Back to list</a>
            </p>
        </div>
    </div>
{% endblock %}