{% extends 'base.html.twig' %}

{% block title %}Product Stock{% endblock %}

{% block body %}

    {{ include('product/_navigation.html.twig', {product: result}) }}

    <div class="p-3 space-y-3 text-sm text-gray-500 dark:text-gray-400">
        <twig:Card padding="p-0">
            {% if result.isValidProduct %}
                <section class="rounded-lg bg-white dark:bg-gray-900">
                    <div class="p-3 flex justify-around text-center font-light">
                        <div>
                            <p class="mb-2">Cost Price</p>
                            <p class="mb-2 text-3xl font-bold text-gray-600 dark:text-gray-500">
                                {{ result.cost|format_currency('GBP') }}</p>
                            <p class="text-gray-600 dark:text-gray-500">
                                using {{ result.activeProductSource.supplier.name }}</p>
                        </div>
                        <div>
                            <p class="mb-2">Stock</p>
                            <p class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">{{ result.stock }}</p>
                            <p class="text-gray-600 dark:text-gray-500">
                                updated {{ result.activeProductSource.updatedAt|ago }}</p>
                        </div>
                    </div>
                </section>
            {% endif %}
            {% if not result.isValidProduct %}
                <section class="rounded-lg bg-white dark:bg-gray-900">
                    <div class="p-3 text-center">
                        <p class="mb-2 text-2xl font-light text-red-400 dark:text-red-400">Incomplete Product</p>
                        {% if not result.hasActiveProductSource %}
                            <p class="font-light">No Active Supplier</p>
                        {% else %}
                            <p class="font-light">Inactive Category, Subcategory or Product</p>
                        {% endif %}
                    </div>
                </section>
            {% endif %}
        </twig:Card>
        <p class="font-light">
            {{ result.supplierProducts|length }} {% if result.supplierProducts|length == 1 %}source{% else %}sources{% endif %}
        </p>
        <div class="flex flex-wrap justify-center gap-3">
            {% for supplierProduct in result.supplierProducts %}
                {{ include('supplier_product/_supplier_product_stock_card.html.twig', {
                    supplierProduct: supplierProduct,
                    activeProductSource: result.activeProductSource,
                }) }}
            {% else %}
                <p class="p-3 text-lg font-light">No suppliers found</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}