{% extends 'product/_navigation.html.twig' %}

{% block title %}Product Stock{% endblock %}

{% block detail %}

    <div class="p-3 space-y-3 text-sm text-gray-500 dark:text-gray-400">
        <div class="mb-3">
            <h1 class="mb-3 text-xl text-gray-900 dark:text-white">
                Product Stock
                <span class="ms-3 text-base font-light text-sm text-gray-500 dark:text-gray-400">
                    {{ result.supplierProducts|length }} {% if result.supplierProducts|length == 1 %}source{% else %}sources{% endif %}
                </span>
            </h1>
            {% if result.isActive and result.category.isActive and result.subcategory.isActive and result.activeProductSource is not null %}
                <section class="mb-3 border border-gray-700 rounded-lg bg-white dark:bg-gray-900">
                    <div class="px-3 py-6 mx-auto max-w-screen-xl text-center font-bold">
                        <dl class="grid max-w-screen-md mx-auto sm:grid-cols-2 gap-8 items-center">
                            <div>
                                <dt class="mb-2 font-light">Cost Price</dt>
                                <dd class="mb-2 text-3xl md:text-4xl text-gray-600 dark:text-gray-500">£{{ result.cost|number_format(2) }}</dd>
                                <dd class="font-light text-gray-600 dark:text-gray-500">
                                    using {{ result.activeProductSource.supplier.name }}</dd>
                            </div>
                            <div>
                                <dt class="mb-2 font-light">Stock</dt>
                                <dd class="mb-2 text-3xl md:text-4xl text-gray-900 dark:text-white">{{ result.stock }}</dd>
                                <dd class="font-light text-gray-600 dark:text-gray-500">updated {{ result.activeProductSource.updatedAt|ago }}</dd>
                            </div>
                        </dl>
                    </div>
                </section>
            {% endif %}
            {% if result.isActive and result.category.isActive and result.subcategory.isActive and result.activeProductSource is not null %}
            {% else %}
                <section class="bg-white dark:bg-gray-900 border border-gray-700 rounded-lg">
                    <div class="p-3 text-center">
                        <p class="mb-2 text-2xl font-light text-red-400 dark:text-red-400">Inactive Product</p>
                        {% if result.activeProductSource is null %}
                            <p class="font-light">No Active Supplier</p>
                        {% else %}
                            <p class="font-light">Inactive Category, Subcategory or Product</p>
                        {% endif %}
                    </div>
                </section>
            {% endif %}
        </div>
        <div class="flex flex-wrap justify-center gap-3">
            {% for supplierProduct in result.supplierProducts %}
                {{ include('supplier_product/_supplier_product_stock_card.html.twig', {
                    supplierProduct: supplierProduct,
                    activeProductSource: result.activeProductSource,
                }) }}
            {% else %}
                <p class="mb-1 text-xl">No supplier products found</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}