{% extends 'product/_navigation.html.twig' %}

{% block title %}Product Stock{% endblock %}

{% block detail %}
<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-2xl font-semibold text-white mb-4">Product Stock</h1>
        {% if result.isActive and result.category.isActive and result.subcategory.isActive and result.activeProductSource is not null%}
            <section class="bg-white dark:bg-gray-900 border border-gray-700 rounded-lg">
                <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-10 lg:px-6">
                    <dl class="grid max-w-screen-md gap-8 mx-auto text-gray-900 sm:grid-cols-2 dark:text-white">
                        <div class="flex flex-col items-center justify-center">
                            <dt class="mb-2 font-light text-gray-500 dark:text-gray-400">Cost Price</dt>
                            <dd class="mb-2 text-3xl md:text-4xl font-bold ">£{{ result.cost|number_format(2) }}</dd>
                            <dd class="font-light text-gray-600 dark:text-gray-500">{{ result.activeProductSource.supplier.name }}</dd>
                        </div>
                        <div class="flex flex-col items-center justify-center">
                            <dt class="mb-2 font-light text-gray-500 dark:text-gray-400">Stock</dt>
                            <dd class="mb-2 text-3xl md:text-4xl font-bold">{{ result.stock }}</dd>
                            <dd class="font-light text-gray-600 dark:text-gray-500">{{ result.activeProductSource.updatedAt|ago }}</dd>
                        </div>
                    </dl>
                </div>
            </section>
        {% endif %}

        {% if result.isActive and result.category.isActive and result.subcategory.isActive and result.activeProductSource is not null%}
        {% else %}
            <section class="bg-white dark:bg-gray-900 border border-gray-700 rounded-lg">
                <div class="p-4 text-center">
                    <p class="mb-2 text-2xl font-light text-red-400 dark:text-red-400">Inactive Product</p>
                    {% if result.activeProductSource is null%}
                        <p class="text-sm font-light text-red-600 dark:text-gray-500">No Active Supplier</p>
                    {% else %}
                        <p class="text-sm font-light text-red-600 dark:text-gray-500">Inactive Category, Subcategory or Product</p>
                    {% endif %}
                </div>
            </section>
        {% endif %}

        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <td class="p-2 ps-4">Supplier</td>
                <td>Product Code</td>
                <td>Cost</td>
                <td>Lead Time</td>
                <td>Stock</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for supplierProduct in result.supplierProducts %}
                {% if result.activeProductSource is not null and supplierProduct.id == result.activeProductSource.id %}
                    <tr class="border-b dark:border-gray-700 outline outline-green-800">
                {% else %}
                    <tr class="border-b dark:border-gray-700">
                {% endif %}
                <td class="min-w-0 flex-auto p-4">
                    <p class="text-sm text-gray-500">{{ supplierProduct.supplier.name|u.truncate(30, '...', false) }}</p>
                    <p class="mt-1 text-base leading-5 text-gray-300">{{ supplierProduct.name|u.truncate(30, '...', false) }}</p>
                    <p class="mt-1 text-xs text-gray-500">Last updated {{ supplierProduct.updatedAt|ago }}</p>
                </td>
                <td class="mt-1 text-sm leading-5 text-gray-300">{{ supplierProduct.productCode }}</td>
                <td class="mt-1 text-sm leading-5 text-gray-300">£{{ supplierProduct.cost|number_format(2) }}</td>
                <td class="mt-1 text-sm leading-5 text-gray-300">{{ supplierProduct.leadTimeDays }}</td>
                <td class="mt-1 text-sm leading-5 text-gray-300">{{ supplierProduct.stock }}</td>
                <td class="px-4">
                    <div class="shrink-0 sm:flex justify-around">
                        {% if supplierProduct.supplier.isActive %}
                        {% if supplierProduct.isActive %}
                            <a href="{{ path('app_supplier_product_toggle_status', {'id': supplierProduct.id }) }}"
                               data-turbo-prefetch="false"
                               class="flex items-center block py-1 px-4 text-green-700 dark:text-green-500 hover:text-green-500 dark:hover:text-green-300"
                            >
                                <twig:Icon name="edit" class="w-4 me-1.5"></twig:Icon>
                                Active</a>
                        {% else %}
                            <a href="{{ path('app_supplier_product_toggle_status', {'id': supplierProduct.id }) }}"
                               data-turbo-prefetch="false"
                               class="flex items-center block py-1 px-4 text-red-700 dark:text-red-500 hover:text-red-500 dark:hover:text-red-300"
                            >
                                <twig:Icon name="edit" class="w-4 me-1.5"></twig:Icon>
                                Inactive</a>
                        {% endif %}
                        {% else %}
                            <p>Supplier Inactive</p>
                        {% endif %}
                        <a href="{{ path('app_supplier_product_remove_confirm', {'id': supplierProduct.id }) }}"
                           data-turbo-prefetch="false"
                           data-turbo-frame="modal"
                           class="flex items-center block py-1 px-4 text-yellow-700 dark:text-yellow-500 hover:text-yellow-500 dark:hover:text-yellow-300"
                        >
                            <twig:Icon name="delete" class="w-4 me-1.5"></twig:Icon>
                            Remove</a>
                    </div>
                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="6"
                        class="px-6 py-6 whitespace-nowrap text-center text-gray-400">
                        No suppliers found
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}