<twig:Card editLink="{{ path('app_catalog_category_edit', {id: category.publicId.value}) }}" title="Category" statusHighlight="{{ category.isActive ? 'ACTIVE' : 'INACTIVE' }}">
    <p class="mb-3 text-lg font-semibold text-gray-900 line-clamp-1 dark:text-white">{{ category.name }}</p>
    <div class="space-y-2 text-sm text-gray-600 dark:text-gray-400">
        <p class="flex items-center gap-2">
            <twig:ux:icon name="mdi:percent-outline" class="h-4 w-4 text-gray-400 dark:text-gray-500"/>
            {{ category.defaultMarkup|number_format(3) }}% mark-up
        </p>
        <p class="flex items-center gap-2">
            <twig:ux:icon name="mdi:tag-outline" class="h-4 w-4 text-gray-400 dark:text-gray-500"/>
            {{ category.priceModel.getName }} price model
        </p>
        <p class="flex items-center gap-2">
            <twig:ux:icon name="bi:receipt" class="h-4 w-4 text-gray-400 dark:text-gray-500"/>
            {{ category.vatRate.name }} VAT
        </p>
        <p class="flex items-center gap-2">
            <twig:ux:icon name="bi:person" class="h-4 w-4 text-gray-400 dark:text-gray-500"/>
            {{ category.owner.fullName }}
        </p>
    </div>
    <twig:CardFooter :updatedAt="category.updatedAt">
        <twig:StatusBadge status="{{ category.isActive ? 'ACTIVE' : 'INACTIVE' }}"/>
    </twig:CardFooter>
</twig:Card>
