{%- extends '@Pagerfanta/default.html.twig' -%}

{%- block pager_widget -%}
    <nav role="navigation" class="flex items-center justify-between">
        <span class="relative z-0 inline-flex shadow-sm -space-x-px">{{- block('pager') -}}</span>
    </nav>
{%- endblock pager_widget -%}

{%- block page_link -%}
    <a
        href="{{- path -}}"
        class="flex items-center justify-center text-sm py-2 px-3 leading-tight border
        bg-white text-gray-500 border-gray-300 hover:bg-gray-100 hover:text-gray-700
        dark:bg-gray-800 dark:text-gray-400 dark:border-gray-700 dark:hover:bg-gray-700 dark:hover:text-white
        transition ease-in-out duration-150"
    >{{- page -}}</a>
{%- endblock page_link -%}

{%- block current_page_link -%}
    <span aria-current="page">
        <span class="flex items-center justify-center text-sm py-2 px-3 border
            bg-gray-100 text-gray-700 border-gray-300
            dark:bg-gray-700 dark:text-white dark:border-gray-700
            cursor-default leading-5"
        >{{- page -}}</span>
    </span>
{%- endblock current_page_link -%}

{%- block previous_page_link -%}
    <a
        href="{{- path -}}"
        rel="prev"
        class="flex items-center justify-center text-sm h-full py-2 px-3 ml-0 rounded-l-lg border
        bg-white text-gray-500 border-gray-300 hover:bg-gray-100 hover:text-gray-700
        dark:bg-gray-800 dark:text-gray-400 dark:border-gray-700 dark:hover:bg-gray-700 dark:hover:text-white
        transition ease-in-out duration-150"
    >
        <span class="hidden md:inline">Previous</span>
        <span class="md:hidden">&lt</span>
    </a>
{%- endblock previous_page_link -%}

{%- block previous_page_link_disabled -%}
    <span aria-disabled="true">
        <span class="flex items-center justify-center text-sm h-full py-2 px-3 ml-0 rounded-l-lg border
            bg-white text-gray-700 border-gray-300
            dark:bg-gray-800 dark:text-gray-600 dark:border-gray-700
            cursor-default"
        >
        <span class="hidden md:inline">Previous</span>
        <span class="md:hidden">&lt</span>
        </span>
    </span>
{%- endblock previous_page_link_disabled -%}

{%- block next_page_link -%}
    <a
        href="{{- path -}}"
        rel="next"
        class="flex items-center justify-center text-sm h-full py-2 px-3 ml-0 rounded-r-lg border
        bg-white text-gray-500 border-gray-300 hover:bg-gray-100 hover:text-gray-700
        dark:bg-gray-800 dark:text-gray-400 dark:border-gray-700 dark:hover:bg-gray-700 dark:hover:text-white
        transition ease-in-out duration-150"
    >
        <span class="hidden md:inline">Next</span>
        <span class="md:hidden">&gt</span>
    </a>
{%- endblock next_page_link -%}

{%- block next_page_link_disabled -%}
    <span aria-disabled="true">
        <span class="flex items-center justify-center text-sm h-full py-2 px-3 ml-0 rounded-r-lg border
        bg-white text-gray-700 border-gray-300 dark:bg-gray-800 dark:text-gray-600 dark:border-gray-700
        cursor-default"
        >
        <span class="hidden md:inline">Next</span>
        <span class="md:hidden">&gt</span>
        </span>
    </span>
{%- endblock next_page_link_disabled -%}

{%- block ellipsis -%}
    <span aria-disabled="true">
        <span class="flex items-center justify-center text-sm py-2 px-3 leading-5 border
        bg-white text-gray-500 border-gray-300 hover:bg-gray-100
        dark:bg-gray-800 dark:text-gray-400 dark:border-gray-700
        cursor-default"
        >&hellip;</span>
    </span>
{%- endblock ellipsis -%}

