{% extends 'modalBase.html.twig' %}

{% block title %}Delete {{ section|title }}{% endblock %}

{% block body %}

    <twig:Dialog title="Delete {{ section }}">
        <p class="mb-2 text-base text-gray-500 dark:text-white">{{ result.name }}</p>
        <p class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
            Are you sure you want to delete this {{ section }}?
        </p>
        <form method="post" action="{{ path('app_'~section|lower|u.snake~'_delete', {'id': result.id}) }}">
            <input type="hidden" name="_token" value="{{ csrf_token('delete'~result.id) }}">
            <twig:Button type="submit" variant="danger" class="w-full">Delete</twig:Button>
        </form>
    </twig:Dialog>

{% endblock %}