{% extends 'base.html.twig' %}

{% block title %}Product Search{% endblock %}

{% block body %}
    <twig:Search
        flowModel="{{ flowModel }}"
        routes="{{ routes }}"
        results="{{ results }}"
    >
        <twig:block name="sort">
            <twig:Card>
                <div class="flex justify-between overflow-auto">
                    <twig:SortLink sortValue="id">Id</twig:SortLink>
                    <twig:SortLink sortValue="name">Product</twig:SortLink>
                    <twig:SortLink sortValue="stock">Stock</twig:SortLink>
                    <twig:SortLink sortValue="sellPriceIncVat">Price</twig:SortLink>
                    <twig:SortLink sortValue="isActive">Status</twig:SortLink>
                </div>
            </twig:Card>
        </twig:block>
        <twig:block name="list_item">
            <twig:Card
                editLink="{{ path('app_catalog_product_edit', {'id': result.publicId.value }) }}"
                showLink="{{ path('app_catalog_product_show', {'id': result.publicId.value }) }}"
                padding="p-0"
            >
                <div class="flex items-center justify-between">
                    <twig:ProductImage
                        imageName="{{ result.hasProductImage ? result.getFirstImage.imageName : null }}"
                        filter="medium_thumbnail"
                        alt="{{ result.name }}"
                    ></twig:ProductImage>
                    <div class="m-3 w-full pe-6">
                        <div class="flex items-center justify-between">
                            <div>
                                <p class="text-lg font-semibold text-gray-900 dark:text-white line-clamp-1">{{ result.name }}</p>
                                <p class="text-sm text-gray-500 dark:text-gray-400">Product #{{ '%06d'|format(result.id) }}</p>
                            </div>
                            <p class="text-lg font-light text-gray-900 dark:text-white">{{ result.sellPriceIncVat|format_currency('GBP') }}
                                <span class="hidden md:inline text-sm text-gray-500 dark:text-gray-400">inc VAT</span>
                            </p>
                        </div>
                        <div class="mt-2 flex items-center justify-between">
                            <p class="text-xs text-gray-500 dark:text-gray-500">{{ result.stock }} in stock</p>
                            <twig:StatusBadge status="{{ result.isActive ? 'ACTIVE' : 'INACTIVE' }}"/>
                        </div>
                    </div>
                </div>
            </twig:Card>
        </twig:block>
    </twig:Search>

{% endblock %}
