{# FormFlow default search/list page. Override sort and list_item blocks per entity.
   Variables: flowModel (string), results (Pagerfanta), routes (FlowRoutes) #}
{% extends 'base.html.twig' %}

{% block title %}{{ flowModel }} Search{% endblock %}

{% block body %}
    <twig:Search
        flowModel="{{ flowModel }}"
        routes="{{ routes }}"
        results="{{ results }}"
    >
        <twig:block name="sort">
            <twig:Card>
                <div class="flex justify-between overflow-auto">
                    <twig:SortLink sortValue="id">Id</twig:SortLink>
                </div>
            </twig:Card>
        </twig:block>

        <twig:block name="list_item">
            <twig:Card>
                <p class="mb-1 items-center text-base text-gray-900 dark:text-white">{{ result.publicId.value }}</p>
            </twig:Card>
        </twig:block>
    </twig:Search>

{% endblock %}
