{# FormFlow update template. Renders as modal via modal_base.
   Variables: flowModel (string), form (FormView), result (entity), flowAllowDelete (bool), routes (FlowRoutes) #}
{% extends 'shared/turbo/modal_base.html.twig' %}

{% block title %}Edit {{ flowModel }}{% endblock %}

{% block body %}

    <twig:Dialog title="Edit {{ flowModel }}">
        <twig:FlowForm :form="form" buttonLabel="Update {{ flowModel }}"/>
        {% if flowAllowDelete %}
            <div class="mt-6 border-t border-gray-200 pt-4 dark:border-white/[0.10]">
                <twig:Button
                    tag="a"
                    href="{{ path(routes.deleteConfirm, {'id': result.id}) }}"
                    type="submit"
                    variant="danger-outline"
                    class="w-full"
                    data-turbo-prefetch="false">
                    Delete {{ flowModel }}
                </twig:Button>
            </div>
        {% endif %}
    </twig:Dialog>

{% endblock %}

