<header class="mt-3">
    <nav class="rounded-t-lg border-gray-200 bg-white dark:bg-gray-900"
         data-controller="basic-drawer"
         data-basic-drawer-drawer-id-value="side-menu"
    >
        <div class="mx-auto flex max-w-(--breakpoint-xl) flex-wrap items-center justify-between px-3 py-2">

            <div class="flex items-center justify-end">
                <button id="navigationButton"
                        type="button"
                        class="inline-flex h-10 w-10 items-center justify-center rounded-sm p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-hidden focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        data-action="click->basic-drawer#open"
                >
                    <span class="sr-only">Open side menu</span>
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/></svg>
                </button>
                <a href="{{ path('app_homepage') }}" class="mx-4 flex space-x-3 rtl:space-x-reverse"
                   data-turbo-frame="body">
                    {{ include('_logo.html.twig', { 'logoHeight': 35 }) }}
                </a>
            </div>
            <div class="flex items-center space-x-3 rtl:space-x-reverse md:space-x-0 md:order-2">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="relative" data-controller="user-menu">
                        <button type="button"
                                class="flex rounded-full text-sm md:me-0"
                                data-action="click->user-menu#toggle">
                            <span class="sr-only">Open user menu</span>
                            <img class="h-6 w-6" src="{{ asset('images/avatar.png') }}" alt="user photo">
                        </button>
                        <div
                            class="absolute right-0 top-full z-50 mt-1 hidden w-48 list-none rounded-sm bg-white text-base shadow-sm divide-y divide-gray-100 dark:divide-gray-600 dark:bg-gray-700"
                            data-user-menu-target="menu">
                            <div class="px-3 py-3">
                                <span class="block text-sm text-gray-900 dark:text-white">{{ app.user.fullName }}</span>
                                <span class="block truncate text-sm text-gray-500 dark:text-gray-400">{{ app.user.userIdentifier }}</span>
                            </div>
                            <ul class="py-2">
                                <li>
                                    <a href="{{ path('app_customer_show', { id: app.user.publicId  }) }}"
                                       class="block px-3 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
                                       data-turbo-frame="body"
                                    >Settings</a>
                                </li>
                                <li>
                                    <a href="{{ path('app_logout') }}"
                                       class="block px-3 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
                                       data-turbo-prefetch="false"
                                       data-turbo-frame="_top"
                                    >Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <a
                        href="{{ path('app_login') }}"
                        class="block rounded-sm px-3 py-2 text-base text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white md:p-0 dark:hover:bg-gray-700 dark:hover:text-white md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                        data-turbo-frame="_top"
                    >Sign In</a>
                {% endif %}
            </div>
        </div>
        {{ include('_menu.html.twig') }}
    </nav>
</header>
