<div id="side-menu" class="overflow-y-auto fixed top-0 left-0 z-40 w-full max-w-xs h-screen bg-white animate-fade-in transition-transform -translate-x-full dark:bg-gray-900" tabindex="-1" aria-hidden="true" data-action="turbo:before-cache@window->basic-drawer#close">
    <div class="overflow-y-auto py-5 px-3 h-full bg-white border-r border-gray-200 dark:bg-gray-900 dark:border-gray-700">
        <button type="button" data-action="basic-drawer#close" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">Close menu</span>
        </button>
        <ul class="space-y-2 mt-4">
            <li>
                <a href="{{ path('app_homepage') }}"
                   class="flex items-center p-2 text-base font-small text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                   data-turbo-frame="body"
                >
                    <twig:ux:icon name="flowbite:home-solid" class="h-5 w-5 text-gray-400"/>
                    <span class="ml-3">Home</span>
                </a>
            </li>
            <li>
                <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-products" data-collapse-toggle="dropdown-products">
                    <twig:ux:icon name="ri:box-3-fill" class="h-5 w-5 text-gray-400"/>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Products</span>
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <ul id="dropdown-products" class="hidden py-2 space-y-2">
                    <li>
                        <a href="{{ path('app_product_index') }}"
                           class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                           data-turbo-frame="body"
                        >Search</a>
                    </li>
                    <li>
                        <a href="{{ path('app_category_index') }}"
                           class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                           data-turbo-frame="body"
                        >Categories</a>
                    </li>
                    <li>
                        <a href="{{ path('app_subcategory_index') }}"
                           class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                           data-turbo-frame="body"
                        >Subcategories</a>
                    </li>
                    <li>
                        <a href="{{ path('app_manufacturer_index') }}"
                           class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                           data-turbo-frame="body"
                        >Manufacturers</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('app_order_index') }}"
                   class="flex items-center p-2 text-base font-small text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                   data-turbo-frame="body"
                >
                    <twig:ux:icon name="lets-icons:order" class="h-5 w-5 text-gray-400"/>
                    <span class="ml-3">Orders</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_purchase_order_index') }}"
                   class="flex items-center p-2 text-base font-small text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                   data-turbo-frame="body"
                >
                    <twig:ux:icon name="material-symbols-light:order-play-rounded" class="h-5 w-5 text-gray-400"/>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Purchase Orders</span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_customer_index') }}"
                   class="flex items-center p-2 text-base font-small text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
                   data-turbo-frame="body"
                >
                    <twig:ux:icon name="flowbite:users-solid" class="h-5 w-5 text-gray-400"/>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Customers</span>
                </a>
            </li>
            <li>
                <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-suppliers" data-collapse-toggle="dropdown-suppliers">
                    <twig:ux:icon name="bxs:factory" class="h-5 w-5 text-gray-400"/>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Suppliers</span>
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <ul id="dropdown-suppliers" class="hidden py-2 space-y-2">
                    <li>
                        <a href="{{ path('app_supplier_index') }}"
                           class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                           data-turbo-frame="body"
                        >Search</a>
                    </li>
                    <li>
                        <a href="{{ path('app_supplier_product_index') }}"
                           class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                           data-turbo-frame="body"
                        >Supplier Products</a>
                    </li>
                </ul>
            </li>
            <li>
                <button type="button" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-admin" data-collapse-toggle="dropdown-admin">
                    <twig:ux:icon name="flowbite:cog-solid" class="h-5 w-5 text-gray-400"/>
                    <span class="flex-1 ml-3 text-left whitespace-nowrap">Admin</span>
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
                <ul id="dropdown-admin" class="hidden py-2 space-y-2">
                    <li>
                        <a href="{{ path('app_vat_rate_index') }}"
                           class="flex items-center p-2 pl-11 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
                           data-turbo-frame="body"
                        >VAT Rates</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="pt-3 mt-5 space-y-2 border-t border-gray-200 dark:border-gray-700">
            <li>
                <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <twig:ux:icon name="icon-park-solid:inbox-success" class="h-5 w-5 text-gray-400"/>
                    <span class="flex-1 ml-3 whitespace-nowrap">Messages</span>
                    <span class="inline-flex justify-center items-center w-5 h-5 text-xs font-semibold rounded-full text-primary-800 bg-primary-100 dark:bg-primary-200 dark:text-primary-800">
                      0
                  </span>
                </a>
            </li>
        </ul>
    </div>
</div>