<div {{ attributes.defaults({
    'class': width~' relative h-full rounded '~this.getBackgroundClasses~' '~this.getBorderClasses,
}) }}
>
    {% if editLink %}
        <a href="{{ editLink }}"
           class="absolute z-10 -top-1.5 -right-1.5 p-1.5 text-yellow-500 rounded-full shadow-lg {{ this.getEditLinkClasses }}"
           data-turbo-frame="modal"
        >
            <twig:ux:icon name="{{ editIcon }}" class="h-6 w-6 p-0.5"/>
        </a>
    {% endif %}
    {% block cardImage %}{% endblock %}

    {% if showLink %}
    <a href="{{ showLink }}" data-turbo-frame="body" >
        <div class="relative rounded transition-colors {{ this.getBackgroundClasses }} dark:hover:bg-gray-600">
    {% endif %}
            <div class="{{ padding }} text-sm text-gray-500 dark:text-gray-400">
                {% if title %}
                    <p class="mb-1 text-gray-600 dark:text-gray-500">{{ title }}</p>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
    {% if showLink %}
        </div>
    </a>
    {% endif %}
</div>