{% props pager %}

    <section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
        <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
            <!-- Start coding here -->

            {% block result_count %}
                <div id="{{ section }}-result-count">
                    <h1 class="text-2xl font-semibold text-white mb-6">
                        {{ section|title }} List
                        <span class="text-base font-light text-gray-500 dark:text-gray-400 ms-3">
                             {{ results|length }} {% if results|length == 1 %}result{% else %}results{% endif %}
                        </span>
                    </h1>
                </div>
            {% endblock %}

            <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
                <div
                    class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">

                    <twig:SearchBox turboFrame="{{ section }}-table"></twig:SearchBox>

                    <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                        <div class="flex items-center space-x-3 w-full md:w-auto">
                            <button id="filterDropdownButton" data-dropdown-toggle="filterDropdown"
                                    class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-1 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                                    type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-4 w-4 mr-2 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd"/>
                                </svg>
                                Filter
                                <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path clip-rule="evenodd" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"/>
                                </svg>
                            </button>
                            <div id="filterDropdown"
                                 class="z-10 hidden w-48 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
                                <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">Choose brand</h6>
                                <ul class="space-y-2 text-sm" aria-labelledby="filterDropdownButton">
                                    <li class="flex items-center">
                                        <input id="apple" type="checkbox" value=""
                                               class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="apple"
                                               class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Apple
                                            (56)</label>
                                    </li>
                                    <li class="flex items-center">
                                        <input id="fitbit" type="checkbox" value=""
                                               class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                        <label for="fitbit"
                                               class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Microsoft
                                            (16)</label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <twig:Button
                            tag="a"
                            href="{{ path('app_category_new') }}"
                            class="flex items-center space-x-1 font-bold"
                        >
                            <twig:Icon name="add" class="w-4"></twig:Icon><span>Add {{ section|title }}</span>
                        </twig:Button>

                    </div>
                </div>

                <turbo-frame id="{{ section }}-table" data-turbo-action="advance">

                    <div class="overflow-x-auto">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead
                                class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <twig:TableHeader sortValue="id">Id</twig:TableHeader>
                                <twig:TableHeader sortValue="name">Category</twig:TableHeader>
                                <twig:TableHeader sortValue="markup">Markup</twig:TableHeader>
                                <twig:TableHeader sortValue="isActive">Status</twig:TableHeader>
                                <twig:TableHeader><span class="sr-only">Actions</span></twig:TableHeader>
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in results %}
                                <tr class="border-b dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
                                    id="{{ section }}-list-item-{{ result.id }}">
                                    <th scope="row" class="px-4 py-3">{{ result.id }}</th>
                                    <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ result.name }}</td>
                                    <td class="px-4 py-3">{{ (result.markup / 100)|number_format(2) }}%</td>
                                    <td class="px-4 py-3">
                                        <div class="flex items-center">
                                            {{ result.isActive ?
                                            '<span class="flex w-2.5 h-2.5 me-2 rounded-full bg-green-500"></span>Active'
                                            : '<span class="flex w-2.5 h-2.5 me-2 rounded-full bg-red-500 "></span>Inactive'
                                            }}
                                        </div>
                                    </td>
                                    <td class="px-4 py-3 flex items-center justify-end">
                                        <button id="{{ result.id }}-dropdown-button"
                                                data-dropdown-toggle="{{ result.id }}-dropdown"
                                                class="inline-flex items-center p-0.5 text-sm font-medium text-center text-gray-500 hover:text-gray-800 rounded-lg focus:outline-none dark:text-gray-400 dark:hover:text-gray-100"
                                                type="button">
                                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
                                            </svg>
                                        </button>
                                        <div id="{{ result.id }}-dropdown"
                                             class="hidden z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                                            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200"
                                                aria-labelledby="{{ result.id }}-dropdown-button">
                                                <li>
                                                    <a href="{{ path('app_category_show', {'id': result.id }) }}"
                                                       class="flex items-center block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                                                       target="_top"
                                                    >
                                                        <twig:Icon name="show" class="w-4 me-1.5"></twig:Icon>Show
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('app_category_edit', {'id': result.id }) }}"
                                                       class="flex items-center block py-2 px-4 text-yellow-700 dark:text-yellow-500 hover:bg-gray-100 dark:hover:bg-gray-600"
                                                       target="_top"
                                                    >
                                                        <twig:Icon name="edit" class="w-4 me-1.5"></twig:Icon>Edit
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="py-1">
                                                <a href="{{ path('app_category_delete_confirm', {'id': result.id }) }}"
                                                   class="flex items-center block py-2 px-4 text-red-700 hover:bg-gray-100 dark:hover:bg-red-600 dark:text-red-500 dark:hover:text-white"
                                                   target="_top"
                                                >
                                                    <twig:Icon name="show" class="w-4 me-1.5"></twig:Icon>Delete
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5" class="px-6 py-6 whitespace-nowrap text-center text-gray-400">
                                        No records found
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <twig:Pagination pager="{{ results }}"></twig:Pagination>

                    <turbo-stream action="replace" target="{{ section }}-result-count">
                        <template>
                            {{ block('result_count') }}
                        </template>
                    </turbo-stream>

                </turbo-frame>

            </div>
        </div>
    </section>
