{% props
    title,
    value,
    compare = null,
    valueType = 'count',
    format = 'GBP',
    maxFractionDigits = 0
    %}

{% macro formatValue(value, valueType, format, maxFractionDigits) %}
    {% if valueType == 'currency' %}
        {{ value|format_currency(format, { max_fraction_digit:maxFractionDigits }) }}
    {% elseif valueType == 'percentage' %}
        {{ value|number_format(2) ~ '%' }}
    {% else %}
        {{ value|number_format(0) }}
    {% endif %}
{% endmacro %}


<div class="flex flex-col items-center justify-center">

    <div class="flex items-center text-sm text-gray-500">
        <span class="text-sm text-gray-500 dark:text-gray-400">{{ title }}</span>
    </div>

    <div class="flex items-center text-2xl font-bold text-gray-900 dark:text-gray-300">
        {{ _self.formatValue(value, valueType, format, maxFractionDigits) }}
        {% if compare is not null %}
            {% set difference = value - compare %}
            {% if difference > 0 %}
                <span class="text-green-500"><twig:ux:icon name="bxs:up-arrow" class="h-6 w-6 ms-1.5" /></span>
            {% elseif difference < 0 %}
                <span class="text-red-500"><twig:ux:icon name="bxs:down-arrow" class="h-6 w-6 ms-1.5" /></span>
            {% endif %}
        {% endif %}

    </div>

    {% if compare is not null %}
        {% set difference = value - compare %}
        {% set percentage = (compare != 0) ? ((difference / compare) * 100)|round(2) : 0 %}
        {% set color = difference > 0 ? 'text-green-500' : (difference < 0 ? 'text-red-500' : 'text-gray-500') %}

        <div class="text-sm font-medium {{ color }}">
            {{ difference > 0 ? '+' : '' }}{{ difference|number_format(valueType != 'percentage' ? 0 : 2) }}
            ({{ percentage > 0 ? '+' : '' }}{{ percentage|number_format(2) }}%)
        </div>
    {% endif %}
</div>