<div class="grid grid-cols-3 gap-3">

    <a href="{{ path(app.current_route, app.request.query.all|merge({'sort': 'orderCount'})) }}"
       class="hover:opacity-75 transition-opacity">
        <twig:KpiCard title="Order Count" value="{{ summary.orderCount|default(0) }}"/>
    </a>
    <a href="{{ path(app.current_route, app.request.query.all|merge({'sort': 'orderValue'})) }}"
       class="hover:opacity-75 transition-opacity">
        <twig:KpiCard title="Order Value" value="{{ summary.orderValue|default(0) }}" valueType="currency"/>
    </a>
    <a href="{{ path(app.current_route, app.request.query.all|merge({'sort': 'averageOrderValue'})) }}"
       class="hover:opacity-75 transition-opacity">
        <twig:KpiCard title="AOV" value="{{ summary.averageOrderValue|default(0) }}" valueType="currency"/>
    </a>
</div>
