<div class="grid grid-cols-1 gap-px overflow-hidden rounded-lg bg-gray-900/5 dark:bg-white/5 md:grid-cols-3">
    <twig:KpiCard title="Order Count" value="{{ summary.orderCount|default(0) }}" href="{{ path(app.current_route, app.request.query.all|merge({'sort': 'orderCount'})) }}"/>
    <twig:KpiCard title="Order Revenue" value="{{ summary.orderValue|default(0) }}" valueType="currency" href="{{ path(app.current_route, app.request.query.all|merge({'sort': 'orderValue'})) }}"/>
    <twig:KpiCard title="AOV" value="{{ summary.averageOrderValue|default(0) }}" valueType="currency" href="{{ path(app.current_route, app.request.query.all|merge({'sort': 'averageOrderValue'})) }}"/>
</div>
