{% extends 'base.html.twig' %}

{% block title %}Overdue Orders{% endblock %}

{% block body %}

    <div class="m-3">
    <turbo-frame id="reports" refresh="morph">
        <twig:Card>
            {% if report.summary is not null %}
                {{ include('reporting/_reports_header.html.twig', {title: 'Overdue Orders'}) }}

                {{ include('reporting/_overdue_orders_summary.html.twig', {summary: report.summary}) }}
            {% endif %}

            {% if report.overdue.count > 0 %}
                <div class="relative mt-3 overflow-x-auto rounded-lg border border-gray-200/80 dark:border-gray-600">
                    <table class="w-full text-left text-sm text-gray-500 dark:text-gray-400">
                        <thead class="bg-gray-100 text-xs font-semibold uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                <div class="flex justify-start">
                                    <twig:SortLink sortValue="id">Order No</twig:SortLink>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <div class="flex justify-center">
                                    <twig:SortLink sortValue="customer.fullName">Customer</twig:SortLink>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <div class="flex justify-center">
                                    <twig:SortLink sortValue="dueDate">Overdue</twig:SortLink>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <div class="flex justify-center">
                                    <twig:SortLink sortValue="status">Status</twig:SortLink>
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <div class="flex justify-end">
                                    <twig:SortLink sortValue="totalPrice">Total</twig:SortLink>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in report.overdue %}
                            <tr class="border-b odd:bg-white even:bg-gray-50 transition-colors hover:bg-gray-100 dark:border-gray-600 dark:odd:bg-gray-900 dark:even:bg-gray-800 dark:hover:bg-gray-700/50">
                                <th scope="row"
                                    class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-gray-300">
                                    <a href="{{ path('app_order_show', {'id': order.publicId.value }) }}"
                                       class="dark:hover:text-white"
                                       data-turbo-frame="body"
                                    >
                                        Order #{{ '%06d'|format(order.id) }}
                                    </a>
                                </th>
                                <td class="px-6 py-4 text-center">
                                    {{ order.customer.fullName }}
                                </td>
                                <td class="px-6 py-4 text-center">
                                    {{ order.dueDate|ago }}
                                </td>
                                <td class="px-6 py-4 text-center">
                                    <twig:StatusBadge :status="order.status.value"/>
                                </td>
                                <td class="px-6 py-4 text-right">
                                    {{ order.totalPrice|default(0)|price_rounded }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <twig:Pagination pager="{{ report.overdue }}"></twig:Pagination>
            {% endif %}
        </twig:Card>
    </turbo-frame>
    </div>

{% endblock %}
