{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="m-3 space-y-4">
        <turbo-frame id="reports" refresh="morph">

            <twig:Card>
                <div class="mb-3 flex justify-center text-lg font-medium text-gray-900 dark:text-gray-300">Order Overview</div>

                <div class="items-center grid grid-cols-1 gap-3 md:grid-cols-2">
                    <div class="space-y-3">
                        <a href="{{ path('app_reporting_dashboard_order_summary', {'duration': 'today'}) }}"
                           class="block hover:opacity-75 transition-opacity">
                            <twig:KpiCard
                                title="Order Count Today"
                                value="{{ report.orderSalesSummary.orderCount|default(0) }}"
                                compare="{{ report.orderSalesCompareSummary.orderCount|default(null) }}"
                                valueType="count"
                            />
                        </a>
                        <a href="{{ path('app_reporting_dashboard_order_summary', {'duration': 'today'}) }}"
                           class="block hover:opacity-75 transition-opacity">
                            <twig:KpiCard
                                title="Order Value Today"
                                value="{{ report.orderSalesSummary.orderValue|default(0) }}"
                                compare="{{ report.orderSalesCompareSummary.orderValue|default(null) }}"
                                valueType="currency"
                            />
                        </a>
                        <a href="{{ path('app_reporting_dashboard_order_summary', {'duration': 'today'}) }}"
                           class="block hover:opacity-75 transition-opacity">
                            <twig:KpiCard
                                title="Average Order Value"
                                value="{{ report.orderSalesSummary.averageOrderValue|default(0) }}"
                                compare="{{ report.orderSalesCompareSummary.averageOrderValue|default(null) }}"
                                valueType="currency"
                            />
                        </a>
                    </div>

                    <div class="relative overflow-x-auto rounded-lg border border-gray-200/80 dark:border-gray-700">
                        <span class="flex justify-center pt-3 text-sm font-medium">Today's Latest Orders</span>
                        <table class="mt-3 w-full text-left text-sm text-gray-500 dark:text-gray-400">
                            <thead class="bg-gray-50 text-xs font-semibold uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Customer
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <div class="flex justify-end">Total</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order in report.latestOrders %}
                                <tr class="border-b odd:bg-white even:bg-gray-50 transition-colors hover:bg-gray-100 dark:border-gray-700 dark:odd:bg-gray-900 dark:even:bg-gray-800 dark:hover:bg-gray-700/50">
                                    <th scope="row" class="whitespace-nowrap px-6 py-3 font-medium text-gray-900 dark:text-gray-300">
                                        <a href="{{ path('app_order_show', {'id': order.publicId.value }) }}"
                                           class="dark:hover:text-white"
                                           data-turbo-frame="body"
                                        >
                                            {{ order.customer.fullName }}
                                        </a>
                                    </th>
                                    <td class="px-6 py-3 text-right">
                                        {{ order.totalPrice|default(0)|price_rounded }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </twig:Card>

            <twig:Card class="mt-3">
                <div class="mb-3 flex justify-center text-lg font-medium text-gray-900 dark:text-gray-300">Sales Overview</div>

                <div class="items-center grid grid-cols-1 gap-3 md:grid-cols-2">
                    <div class="space-y-3">
                        <a href="{{ path('app_reporting_dashboard_product_sales', {'duration': 'today'}) }}"
                           class="block hover:opacity-75 transition-opacity">
                            <twig:KpiCard
                                title="Sales Cost Today"
                                value="{{ report.productSalesSummary.salesCost|default(0) }}"
                                compare="{{ report.productSalesCompareSummary.salesCost|default(null) }}"
                                valueType="currency"
                            />
                        </a>
                        <a href="{{ path('app_reporting_dashboard_product_sales', {'duration': 'today'}) }}"
                           class="block hover:opacity-75 transition-opacity">
                            <twig:KpiCard
                                title="Sales Profit Today"
                                value="{{ report.productSalesSummary.salesProfit|default(0) }}"
                                compare="{{ report.productSalesCompareSummary.salesProfit|default(null) }}"
                                valueType="currency"
                            />
                        </a>
                        <a href="{{ path('app_reporting_dashboard_product_sales', {'duration': 'today'}) }}"
                           class="block hover:opacity-75 transition-opacity">
                            <twig:KpiCard
                                title="Gross Margin"
                                value="{{ report.productSalesSummary.salesMargin|default(0) }}"
                                compare="{{ report.productSalesCompareSummary.salesMargin|default(null) }}"
                                valueType="percentage"
                                maxFractionDigits="2"
                            />
                        </a>
                    </div>

                    <div class="relative overflow-x-auto rounded-lg border border-gray-200/80 dark:border-gray-700">
                        <span class="flex justify-center pt-3 text-sm font-medium">Today's Top Products</span>
                        <table class="mt-3 w-full text-left text-sm text-gray-500 dark:text-gray-400">
                            <thead class="bg-gray-50 text-xs font-semibold uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Product name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <div class="flex justify-end">Qty</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sale in report.latestProductSales %}
                                <tr class="border-b odd:bg-white even:bg-gray-50 transition-colors hover:bg-gray-100 dark:border-gray-700 dark:odd:bg-gray-900 dark:even:bg-gray-800 dark:hover:bg-gray-700/50">
                                    <th scope="row" class="whitespace-nowrap px-6 py-3 font-medium text-gray-900 dark:text-gray-300">
                                        <a href="{{ path('app_catalog_product_show', {'id': sale.publicId }) }}"
                                           class="dark:hover:text-white"
                                           data-turbo-frame="body"
                                        >
                                            {{ sale.name|slug.truncate(27, '...') }}
                                        </a>
                                    </th>
                                    <td class="px-6 py-3 text-right">
                                        {{ sale.salesQty }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </twig:Card>

            <twig:Card class="mt-3">
                <div class="mb-3 flex justify-center text-lg font-medium text-gray-900 dark:text-gray-300">Action Required</div>

                <div class="grid grid-cols-1 gap-3 md:grid-cols-2">
                    <a href="{{ path('app_reporting_dashboard_overdue_orders', {'duration': 'last30'}) }}"
                       class="block hover:opacity-75 transition-opacity"
                    >
                        <twig:KpiCard
                            title="Overdue Orders"
                            value="{{ report.overdueOrderSummary.orderCount|default(0) }}"
                            valueType="count"
                        />
                    </a>

                    <a href="{{ path('app_purchasing_purchase_order_index', {'purchaseOrderStatus': 'rejected'}) }}"
                       class="block hover:opacity-75 transition-opacity"
                       data-turbo-frame="body"
                    >
                        <twig:KpiCard
                            title="Rejected POs"
                            value="{{ report.rejectedPoSummary.poCount|default(0) }}"
                            valueType="count"
                        />
                    </a>
                </div>
            </twig:Card>

        </turbo-frame>
    </div>

{% endblock %}
