<twig:Card>
    <div class="flex justify-between text-sm text-gray-500 dark:text-gray-400">
        <div>
            <p class="mb-1 text-gray-300 dark:text-gray-200">Delivery Address</p>
            <p class="mb-1">{{ order.customer.fullName }}</p>
            <p class="mb-1">{{ order.shippingAddress.street }}</p>
            {% if order.shippingAddress.street2 is not null %}
                <p class="mb-1">{{ order.shippingAddress.street2 }}</p>
            {% endif %}
            <p class="mb-1">{{ order.shippingAddress.city }}, {{ order.shippingAddress.postCode }}</p>
            <p class="mb-1">{{ order.shippingAddress.country }}</p>
        </div>
        <div>
            <p class="mb-1 text-gray-300 dark:text-gray-200">Order Summary</p>
            <div class="flex justify-between">
                <p class="mb-1 me-10">Item(s) subtotal:</p>
                {% if order.isCancelled %}
                    <p class="mb-1">0.00|format_currency('GBP')</p>
                {% else %}
                    <p class="mb-1">{{ (order.totalPrice - order.shippingPrice)|format_currency('GBP') }}</p>
                {% endif %}
            </div>
            <div class="flex justify-between">
                <p class="mb-1 me-10">Shipping:</p>
                {% if order.isCancelled %}
                    <p class="mb-1">0.00|format_currency('GBP')</p>
                {% else %}
                    <p class="mb-1">{{ order.shippingPrice|format_currency('GBP') }}</p>
                {% endif %}
            </div>
            <div class="flex justify-between">
                <p class="mb-1 me-10">Total before VAT:</p>
                <p class="mb-1">{{ order.totalPrice|format_currency('GBP') }}</p>
            </div>
            <div class="flex justify-between">
                <p class="mb-1 me-10">VAT:</p>
                <p class="mb-1">{{ (order.totalPriceIncVat - order.totalPrice)|format_currency('GBP') }}</p>
            </div>
            <div class="flex justify-between text-gray-300 dark:text-gray-200">
                <p class="mb-1 me-10">Grand Total:</p>
                <p class="mb-1">{{ order.totalPriceIncVat|format_currency('GBP') }}</p>
            </div>
        </div>
    </div>
</twig:Card>