<ul
    data-toggle-target="toggleable"
    class="hidden w-full space-y-3 last:rounded-b-lg dark:bg-gray-900/80"
>
    {% if orderItem.outstandingQty > 0 %}
        {% for supplierProduct in orderItem.product.activeSupplierProducts %}
            <a href="{{ path('app_purchase_order_item_add',{
                'id': orderItem.publicId.value,
                'supplierProductId': supplierProduct.publicId.value
            }) }}"
               data-turbo-prefetch="false"
               data-turbo-frame="body"
            >
                <li class="flex items-center justify-between rounded-sm p-3 text-sm dark:hover:bg-gray-700">
                    <div>
                        <p class="mb-1 text-gray-500 line-clamp-1 dark:text-gray-500">{{ supplierProduct.supplier.name }}</p>
                        <p class="text-xs">{{ (supplierProduct.productCode) }}</p>
                    </div>
                    <div>
                        <p class="mb-1 text-right font-extralight text-gray-500 dark:text-white">{{ supplierProduct.cost|format_currency('GBP') }}</p>
                        <p class="text-right text-xs">
                            {% if supplierProduct.hasStock %}
                                {{ supplierProduct.stock }} in stock
                            {% else %}
                                Out of stock ({{ supplierProduct.leadTimeDays }} day lead time)
                            {% endif %}
                        </p>
                    </div>
                </li>
            </a>
        {% else %}
            <p class="p-3 pt-2 text-center text-sm text-gray-500 dark:text-gray-500">No suppliers found</p>
        {% endfor %}
    {% endif %}
</ul>
