<div class="relative h-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="{{ path('app_order_edit', {id: order.id})}}"
       class="absolute -top-1.5 -right-1 p-1.5 bg-white text-yellow-500 border border-gray-600 rounded-full shadow-lg dark:bg-gray-700 dark:hover:bg-gray-600"
       data-turbo-prefetch="false"
       data-turbo-frame="modal"
    >
        <twig:ux:icon name="mynaui:edit-one" class="w-6 h-6 p-0.5" />
    </a>
    <div class="p-3 text-sm text-gray-500 dark:text-gray-400">
        <h5 class="mb-2 text-xl text-gray-900 dark:text-white">Order #{{ '%06d'|format(result.id) }}</h5>
        <div class="flex items-center justify-between">
            <p class="me-10 text-sm">
                {{ order.createdAt|date() }}
                {% if order.customerOrderRef is not null %}
                    | {{ order.customerOrderRef }}
                {% endif %}
            </p>
            <p class="">{{ order.status|title }}</p>
        </div>
    </div>
</div>