<turbo-frame id="order_card">
<div class="relative h-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    {% if order.allowEdit %}
    <a href="{{ path('app_order_cancel', {id: result.id}) }}"
       class="absolute -top-1.5 -right-1 p-1.5 bg-white text-gray-300 border border-gray-600 rounded-full shadow-lg dark:bg-gray-700 dark:hover:bg-gray-600"
       data-turbo-prefetch="false"
    >
        <twig:ux:icon name="clarity:cancel-line" class="w-6 h-6 p-0.5" />
    </a>
    {% endif %}
    <div class="p-3 text-sm text-gray-500 dark:text-gray-400">
        <h5 class="mb-2 flex items-center text-xl text-gray-900 dark:text-white">
            Order #{{ '%06d'|format(result.id) }}
            <a href="{{ path('app_order_lock_toggle_status', {id: result.id}) }}"
               data-turbo-frame="_top"
               data-turbo-prefetch="false"
               class="ms-3 flex items-center text-base text-gray-500 dark:text-gray-400 hover:text-yellow-600 dark:hover:text-yellow-300"
            >
                {% if result.orderLock is not null %}
                    <twig:ux:icon name="flowbite:lock-solid" class="w-4 me-1" />
                    <span class="text-sm">{{ result.orderLock.fullName }}</span>
                {% else %}
                    <twig:ux:icon name="flowbite:lock-open-solid" class="w-4 me-1.5" />
                {% endif %}
            </a>
        </h5>
        <div class="flex items-center justify-between">
            <p class="me-10 text-sm">
                {{ order.createdAt|date() }}
                {% if order.customerOrderRef is not null %}
                    | {{ order.customerOrderRef }}
                {% endif %}
            </p>
            <p class="flex justify-end items-center">
            {% if order.allowEdit %}
                <a href="{{ path('app_order_process', {id: result.id}) }}"
                   data-turbo-frame="_top"
                   data-turbo-prefetch="false"
                   class="py-1 text-sm text-yellow-700 dark:text-yellow-500 hover:text-yellow-500 dark:hover:text-yellow-300"
                >
                    <twig:ux:icon name="f7:wand-stars" class="w-4 me-1.5" />
                </a>
            {% endif %}
                <a href="{{ path('app_order_status_log', {'id':result.id }) }}"
                   class="text-grey-500 dark:hover:text-gray-600"
                   data-turbo-prefetch="false"
                   data-turbo-frame="modal"
                >
                    {{ order.status.value|title }}
                </a>
            </p>
        </div>
    </div>
</div>
</turbo-frame>