{% extends 'base.html.twig' %}

{% block title %}Order Search{% endblock %}

{% block body %}
    <twig:Search
        flowModel="{{ flowModel }}"
        routes="{{ routes }}"
        results="{{ results }}"
    >
        <twig:block name="sort">
            <twig:Card>
                <div class="flex justify-between overflow-auto">
                    <twig:SortLink sortValue="id">Order</twig:SortLink>
                    <twig:SortLink sortValue="createdAt">Created</twig:SortLink>
                    <twig:SortLink sortValue="customer.fullName">Customer</twig:SortLink>
                    <twig:SortLink sortValue="totalPriceIncVat">Total</twig:SortLink>
                    <twig:SortLink sortValue="status">Status</twig:SortLink>
                </div>
            </twig:Card>
        </twig:block>

        <twig:block name="list_item">
            <twig:Card showLink="{{ path('app_order_show', {'id': result.publicId.value }) }}" statusHighlight="{{ result.status.value }}">
                <div class="flex items-center justify-between">
                    <div>
                        <p class="text-lg font-semibold text-gray-900 dark:text-white">
                            Order #{{ '%06d'|format(result.id) }}
                        </p>
                        {% if result.customerOrderRef is not null %}
                            <p class="text-xs text-gray-500 dark:text-gray-500">{{ result.customerOrderRef }}</p>
                        {% endif %}
                    </div>
                    <p class="text-lg font-light text-gray-900 dark:text-white">{{ result.totalPriceIncVat|format_currency('GBP') }}</p>
                </div>
                <div class="mt-2 flex items-center justify-between">
                    <div class="flex items-center gap-3">
                        <p class="text-sm text-gray-700 dark:text-gray-300">{{ result.customer.fullName }}</p>
                        <span class="mx-1 text-gray-300 dark:text-gray-600">&middot;</span>
                        <p class="text-xs text-gray-500 dark:text-gray-500">{{ result.createdAt|date('jS M Y H:i') }}</p>
                    </div>
                    <twig:StatusBadge status="{{ result.status.value }}"/>
                </div>
            </twig:Card>
        </twig:block>

        <twig:block name="add">
            <twig:Button
                tag="a"
                variant="alternative"
                href="{{ path('app_order_new') }}"
                data-turbo-frame="modal"
            >
                <twig:ux:icon name="bi:plus-lg" class="h-4 w-4"/>
                <span>Create Order</span>
            </twig:Button>
        </twig:block>

    </twig:Search>

{% endblock %}
