{% extends 'base.html.twig' %}

{% block title %}Supplier Product Search{% endblock %}

{% block body %}
    <twig:Search
        flowModel="{{ flowModel }}"
        flowRoute="{{ flowRoute }}"
        results="{{ results }}"
    >
        <twig:block name="sort">
            <twig:Card>
                <div class="flex justify-between overflow-auto">
                    <twig:SortLink sortValue="id">Id</twig:SortLink>
                    <twig:SortLink sortValue="name">Product</twig:SortLink>
                    <twig:SortLink sortValue="supplier.name">Supplier</twig:SortLink>
                    <twig:SortLink sortValue="stock">Stock</twig:SortLink>
                    <twig:SortLink sortValue="cost">Cost</twig:SortLink>
                    <twig:SortLink sortValue="isActive">Status</twig:SortLink>
                </div>
            </twig:Card>
        </twig:block>

        <twig:block name="list_item">
            <twig:Card
                editLink="{{ path('app_purchasing_supplier_product_edit', {'id': result.publicId.value }) }}"
                showLink="{{ path('app_purchasing_supplier_product_show', {'id': result.publicId.value }) }}"
            >
                <div class="flex items-center justify-between">
                    <div>
                        <p class="text-lg font-semibold text-gray-900 line-clamp-1 dark:text-white">{{ result.name }}</p>
                        <p class="text-sm text-gray-500 dark:text-gray-400">{{ result.supplier.name }} <span class="mx-1 text-gray-300 dark:text-gray-600">&middot;</span> {{ result.productCode }}</p>
                    </div>
                    <p class="text-lg font-light text-gray-900 dark:text-white">{{ result.cost|format_currency('GBP') }}</p>
                </div>
                <div class="mt-2 flex items-center justify-between">
                    <p class="text-xs text-gray-500 dark:text-gray-500">{{ result.stock }} in stock</p>
                    <twig:StatusBadge status="{{ result.isActive ? 'ACTIVE' : 'INACTIVE' }}"/>
                </div>
            </twig:Card>
        </twig:block>

        <twig:block name="add">
            <twig:Button
                tag="a"
                href="{{ path('app_purchasing_supplier_product_new') }}"
                class="flex items-center font-bold space-x-1"
                data-turbo-frame="modal"
            >
                <twig:ux:icon name="flowbite:circle-plus-outline" class="w-5"/>
                <span>Add Supplier Product</span>
            </twig:Button>
        </twig:block>

    </twig:Search>

{% endblock %}
