{% extends 'shared/turbo/modal_base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <twig:Dialog title="Status Log">
        <ol class="relative ms-4 border-s border-gray-200 text-gray-500 dark:border-white/[0.06] dark:text-gray-400">
            <li class="mb-8 ms-7">
                <span
                    class="absolute flex h-8 w-8 items-center justify-center rounded-full bg-{{ colourScheme | default('gray') }}-700 ring-4 ring-white -start-4 dark:bg-{{ colourScheme | default('gray') }}-700 dark:ring-gray-800">
                    <twig:StatusIcon type="created"/>
                </span>
                <h3 class="text-sm font-semibold text-gray-900 dark:text-gray-100">{{ entity }} Created</h3>
                <p class="mt-0.5 text-xs text-gray-400 dark:text-gray-500">{{ result.createdAt|date('jS M Y H:i') }}</p>
            </li>
            {% for status in statusLog %}
                <li class="mb-8 ms-7 last:mb-0">
                    <span
                        class="absolute flex h-8 w-8 items-center justify-center rounded-full bg-gray-100 ring-4 ring-white -start-4 dark:bg-gray-700 dark:ring-gray-800">
                        <twig:StatusIcon type="{{ status.status|lower }}"/>
                    </span>
                    <h3 class="text-sm font-semibold text-gray-900 dark:text-gray-100">
                        {{ status.status|title }}
                        <span class="ml-1 text-xs font-normal text-gray-400 dark:text-gray-500">
                            after {{ result.createdAt|date_diff_seconds(status.eventTimestamp)|duration }}
                        </span>
                    </h3>
                    <p class="mt-0.5 text-xs text-gray-400 dark:text-gray-500">
                        {{ status.eventTimestamp|date('jS M Y H:i') }}
                    </p>
                </li>
            {% endfor %}
        </ol>
    </twig:Dialog>

{% endblock %}
