{% extends 'base.html.twig' %}

{% block title %}Manufacturer Search{% endblock %}

{% block body %}
    <twig:Search
        flowModel="{{ flowModel }}"
        flowRoute="{{ flowRoute }}"
        results="{{ results }}"
    >
        <twig:block name="sort">
            <twig:Card>
                <div class="flex justify-between overflow-auto">
                    <twig:SortLink sortValue="id">Id</twig:SortLink>
                    <twig:SortLink sortValue="name">Manufacturer</twig:SortLink>
                    <twig:SortLink sortValue="isActive">Status</twig:SortLink>
                </div>
            </twig:Card>
        </twig:block>

        <twig:block name="list_item">
            <twig:Card
                editLink="{{ path('app_catalog_manufacturer_edit', {'id': result.publicId.value }) }}"
                showLink="{{ path('app_catalog_manufacturer_show', {'id': result.publicId.value }) }}"
                statusHighlight="{{ result.isActive ? 'ACTIVE' : 'INACTIVE' }}"
            >
                <div class="flex items-center justify-between pe-6">
                    <p class="text-lg font-semibold text-gray-900 line-clamp-1 dark:text-white">{{ result.name }}</p>
                    <twig:StatusBadge status="{{ result.isActive ? 'ACTIVE' : 'INACTIVE' }}"/>
                </div>
            </twig:Card>
        </twig:block>

        <twig:block name="add">
            <twig:Button
                tag="a"
                variant="alternative"
                href="{{ path('app_catalog_manufacturer_new') }}"
                data-turbo-frame="modal"
            >
                <twig:ux:icon name="bi:plus-lg" class="h-4 w-4"/>
                <span>Create Manufacturer</span>
            </twig:Button>
        </twig:block>

        <twig:block name="filter"></twig:block>
    </twig:Search>

{% endblock %}

