<ul
    data-toggle-target="toggleable"
    class="mt-3 w-full space-y-3 border border-gray-600 dark:bg-gray-900/80 rounded-lg hidden"
>
    {% if orderItem.outstandingQty > 0 %}
        {% for supplierProduct in orderItem.product.activeSupplierProducts %}
            <a href="{{ path('app_purchase_order_item_add',{
                'id': orderItem.id,
                'supplierProductId': supplierProduct.id
            }) }}"
               data-turbo-prefetch="false"
            >
                <li class="p-3 dark:hover:bg-gray-800 rounded-lg">
                    <p class="text-sm text-gray-500 dark:text-gray-500">{{ supplierProduct.supplier.name|u.truncate(30, '...', false) }}</p>
                    <div class="flex justify-between items-center">
                        <p class="text-xs text-gray-300 dark:text-gray-200">{{ (supplierProduct.productCode) }}</p>
                        <p class="text-xs font-extralight">
                            {% if supplierProduct.stock > 0 %}
                                {{ supplierProduct.stock }} in stock
                            {% else %}
                                Out of stock ({{ supplierProduct.leadTimeDays }} day lead time)
                            {% endif %}
                        </p>
                        <p class="text-xs font-extralight">£{{ supplierProduct.cost|number_format(2) }}</p>
                    </div>
                </li>
            </a>
        {% else %}
            <p class="pt-2 p-3 text-sm text-center text-gray-500 dark:text-gray-500">No suppliers found</p>
        {% endfor %}
    {% else %}
        <p class="pt-2 p-3 text-sm text-center text-gray-500 dark:text-gray-500">Items already sourced</p>
    {% endif %}
</ul>