{% extends 'modalBase.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="p-10 dark:bg-gray-900">
        <ol class="relative text-gray-500 border-s border-gray-200 dark:border-gray-700 dark:text-gray-400">
            <li class="mb-10 ms-6">
                <span class="absolute flex items-center justify-center w-8 h-8 bg-green-200 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-green-900">
                    <twig:StatusIcon type="created"/>
                </span>
                <h3 class="font-medium leading-tight">{{ section }} Created</h3>
                <p class="text-sm font-extralight text-gray-400 dark:text-gray-400">{{ result.createdAt|date('jS M Y H:i') }}</p>
            </li>
            {% for status in statusLog %}
                <li class="mb-10 last:mb-0 ms-6">
                    <span class="absolute flex items-center justify-center w-8 h-8 bg-gray-100 rounded-full -start-4 ring-4 ring-white dark:ring-gray-900 dark:bg-gray-700">
                        <twig:StatusIcon type="{{ status.status|lower }}"/>
                    </span>
                    <h3 class="font-medium leading-tight mb-0.5">
                        {{ status.status|title }}
                        <span class="ms-0.5 text-xs font-extralight text-gray-500 dark:text-gray-500">
                            after {{ result.createdAt|date_diff_seconds(status.createdAt)|duration }}
                        </span>
                    </h3>
                    <p class="text-sm font-extralight text-gray-400 dark:text-gray-400">
                        {{ status.createdAt|date('jS M Y H:i') }}
                    </p>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}

