<twig:Card
    editLink="{{ path('app_purchasing_supplier_edit', { id: supplier.publicId.value }) }}"
    title="Supplier"
    colour="{{ supplier.colourScheme }}"
    statusHighlight="{{ supplier.isActive ? 'ACTIVE' : 'INACTIVE' }}"
>
    <p class="mb-3">{{ include('purchasing/supplier/_inline_name.html.twig', {supplier: supplier}) }}</p>
    <twig:CardFooter :updatedAt="supplier.updatedAt">
        <twig:StatusBadge status="{{ supplier.isActive ? 'ACTIVE' : 'INACTIVE' }}"/>
    </twig:CardFooter>
</twig:Card>
