{% extends 'base.html.twig' %}

{% block title %}Supplier Search{% endblock %}

{% block body %}
    <twig:Search
        flowModel="{{ flowModel }}"
        routes="{{ routes }}"
        results="{{ results }}"
        showFilter="{{ false }}"
    >
        <twig:block name="sort">
            <twig:SortLink sortValue="id">Id</twig:SortLink>
            <twig:SortLink sortValue="name">Supplier</twig:SortLink>
            <twig:SortLink sortValue="isActive">Status</twig:SortLink>
        </twig:block>

        <twig:block name="list_item">
            <twig:Card
                editLink="{{ path('app_purchasing_supplier_edit', {'id': result.publicId.value }) }}"
                showLink="{{ path('app_purchasing_supplier_show', {'id': result.publicId.value }) }}"
                colour="{{ result.colourScheme }}"
                statusHighlight="{{ result.isActive ? 'ACTIVE' : 'INACTIVE' }}"
            >
                <div class="flex items-center justify-between pe-6">
                    <div class="flex items-center gap-2.5">
                        <twig:SupplierDot colour="{{ result.colourScheme }}"/>
                        <p class="text-lg font-semibold text-gray-900 line-clamp-1 dark:text-white">{{ result.name }}</p>
                    </div>
                    <twig:StatusBadge status="{{ result.isActive ? 'ACTIVE' : 'INACTIVE' }}"/>
                </div>
            </twig:Card>
        </twig:block>
    </twig:Search>

{% endblock %}
